/* header */
header { height: 80px; }
.header h1 { margin-right: 0; width: 110px;}
.header .gnb { height: 80px;}
.header .gnb .depth1 > li > a { line-height: 80px;}
.header .gnb .depth2 { padding-top: 100px;}
.header__menu { width: 170px;}
@media (min-width: 0px) and (max-width:1030px){
    .header { justify-content: space-between; height: 80px; }
    .header .gnb { display: none;}
}


/** 전체메뉴(모바일) **/
.header.gnb-mobile-active .header__menu .btn-allmenu:after,
.header.gnb-mobile-active .header__menu .btn-allmenu:before { background-color: #000;}
.header.gnb-mobile-active .btn-lang li~li:before { background-color: rgba(0,0,0, 0.4);}
.header.gnb-mobile-active .btn-lang li button { color: rgba(0,0,0, 0.4);}
.header.gnb-mobile-active .btn-lang li button:hover { color: #000;}
.header.gnb-mobile-active .btn-lang li button.active { color: #000;}
.header.gnb-mobile-active .btn-lang li button.active::before { border-bottom: 2px solid #000;}


    /** header - gnb **/
.gnb-mobile { padding-top: 110px; background-color:white; }
.gnb-mobile li a { color: #444;}
.gnb-mobile .depth1 { display: block;}
.gnb-mobile .depth1 > li { position: relative; margin: auto; }
.gnb-mobile .depth1 > li > a { padding: 0 70px 0 40px; border-bottom: 1px solid #e5e5e5; height: 65px; line-height: 65px; }
.gnb-mobile .depth1 > li:hover > a { border-color: #e5e5e5;}
.gnb-mobile .depth1 > li > a span { font-size: 24px; color: #444;}
.gnb-mobile .depth1 > li:hover > a span { color: #444;}
.gnb-mobile .btn-depth2 { position: absolute; right: 0; top: 0; display: inline-block; height: 65px; width: 65px; font-size: 0;}
.gnb-mobile .btn-depth2::before { position: absolute; content: "\e941"; left: 0; top: 0; width: 100%; text-align: center; line-height: 65px; font-family: 'xeicon'; font-size: 20px; font-weight: 600; color: #444;}
.gnb-mobile .depth1 > li.active .btn-depth2::before { content: "\e944";}
.gnb-mobile .depth2 { display: none; padding: 15px 0; background-color: #f8f8f8;}
.gnb-mobile .depth1 > li.active .depth2 { display: block;}
.gnb-mobile .depth2 > li > a { padding: 0 40px; height: 47px; line-height: 47px;}
.gnb-mobile .depth2 > li > a span { font-size: 18px; color: #999; font-weight: 600;}
.gnb-mobile .depth2 > li > a span::before { position: absolute; content: ""; right: -10px; top: 0; width: 5px; height: 5px; background-color: #007dc6; opacity: 0;}
.gnb-mobile .depth2 > li:hover > a span { position: relative; color: #007dc6;}
.gnb-mobile .depth2 > li:hover > a span::before { opacity: 1;}
.gnb-mobile .depth3 { display: none;}


/* footer */
footer .inner { padding: 0; background-image: none;}

/** sub - visual **/
.sub-visual .snb ul.depth1 .snb__btn { max-width: none;}
.sub-visual .snb ul.depth1 li:nth-child(4) { display: none;}

/** 공통 스타일 & 컴포넌트 **/
    /** 레이아웃 **/
.layout-style__flex { display: block;}
.layout-style__flex h6 { padding-bottom: 40px; width: 100%;}



/** 메인화면 - visual **/
.main-visual .inner h2 { font-size: 42px;}
/** 메인화면 - business **/
.main_business ul { flex-wrap: wrap;}
.main_business ul li { width: 33.333%;}
.main_business ul li a div { max-height: 350px; line-height: 350px;}
/** 메인화면 - ir **/
.main_ir .wrap-top { display: block;}
.main_ir .box-title { margin-top: auto; width: auto; text-align: center;}
.main_ir .container-article article { max-width: none; height: 250px; }
.main_ir .container-article article a div { padding: 40px 35px; }
/** 메인화면 - pr **/
.main_pr .container-article { display: block; width: 100%;}
.main_pr .container-article article { width: 100%;}
.main_pr .container-article article~article { margin-top: 60px;}
/** 메인화면 - inquiry **/
.main .main_inqu { display: block;}
.main_inqu article { width: 100%;}
.main_inqu article .wrap { text-align: center;}
.main_inqu article .wrap::before { left: 50%; transform: translateX(-50%);}



/** 투자정보 | IR News**/
.ir__news .list-news li a strong { font-size: 16px;}
.ir__news .list-news li a strong i { font-size: 40px;}
.ir__news .list-news li a b { font-size: 18px;}
/** 투자정보 | Contact IR **/
/* .ir__contact .card > div { display: block;} */
.ir__contact form .table-th { width: 200px;}
.ir__contact .card { display: block; text-align: center;}
.ir__contact .card b { padding: 0 0 0 70px; margin: 20px 0 50px; width: auto; height: 40px; background-position: left 0 center;}
.ir__contact .card > div { padding-left: 0;}
/** 홍보센터 | 소셜미디어 **/
.pr__social .list-social li { width: 50%;}
