/** 공통 스타일**/
body { position: relative;}

header { position: sticky; z-index: 99; left: 0; top: 0; padding: 0 30px; width: 100%; height: 60px; line-height: 60px; border: 1px solid #000; background-color: #fff; box-sizing: border-box;}
header p { float: left;}
header nav { float: right;}
header nav ul li {display: inline-block; padding: 0 15px;}


section { min-height: 100vh; border: 1px solid #000;}
section .contentBox { position: relative; margin: 0 auto; padding: 0 30px; max-width: 1200px; min-height: 100vh; box-sizing: border-box;}
h2 { padding: 120px 0 20px ; font-size: 50px; line-height: 45px;}


.btnStyle1 { display: inline-block; width: 200px; height: 50px; line-height: 50px; text-align: center; font-size: 15px; box-sizing: border-box;}



/** section - visual **/
.visual { position: relative;}
.visual h1 { font-size: 0;}
.visual p { position: absolute; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%); font-size: 50px; font-weight: bold; line-height: 45px;}
.visual strong { position: absolute; right: -25px; top: 50%; transform: translateY(-50%) rotate(-90deg); font-size: 25px; font-weight: bold; color: rgba(0,0,0,.1); }


/** section - about **/
.about .flex { display: flex; justify-content: space-between; gap: 70px;}
.about .flex-left h2 { padding-bottom: 50px;}
.about .flex-left h3 i { position: relative; display: inline-block; margin: 0 3px; width: 20px; height: 45px;}
.about .flex-left h3 i::before { position: absolute; content: ""; left: 0; top: 30px; width: 100%; height: 5px; background-color: #000;}
.about .flex-left span { position: relative; display: inline-block; width: 320px; height: 500px; overflow: hidden;}
.about .flex-left span img { position: absolute; top: 0; left: 35%; transform: translateX(-50%); height: 100%;}

.about .flex-right { padding: 290px 0 0 0; width: 650px; height: 100%; overflow: scroll; white-space:nowrap; box-sizing: border-box;}
/* ::-webkit-scrollbar { visibility: hidden;} */
.about .flex-right article { display: inline-block; width: 650px; height: 100%; vertical-align: top;}
.about .flex-right div { width: 500px}
.about .flex-right h3 { margin: 0 0 65px 0; display: inline-block; font-size: 30px;}
.about .flex-right p { margin: 0 0 150px; font-size: 18px; line-height: 37px; white-space: initial;}
.about .flex-right strong { display: block; padding: 0 0 75px; font-size: 25px; }
.about .flex-right strong i { display: block; font-size: 35px; font-weight: 600; color: rgba(0,0,0,.1); line-height: 9px;}




/** section - works **/
.works { position: relative;}
.works .title { position: absolute; z-index: 9; left: 50%; top: 0; transform: translateX(-50%); padding: 0 30px; width: 1200px; box-sizing: border-box;}
.works .contentBox { padding: 100px 0;} 
.works ul,
.works ul li { text-align: center; line-height: 1; font-size: 0;}
.works ul li a { position: relative; margin: 10px; display: inline-block; padding: 20px 30px; border-radius: 7px; background-color: lightgray; text-align: left; box-sizing: border-box;}
.works ul.web li a { width: 340px; height: 200px;} 
.works ul.mobile li { display: inline-block;}
.works ul.mobile li a { width: 200px; height: 340px;} 
.works ul li a div { position: absolute; left: 0; top: 0; padding: 20px; width: 100%; height: 100%; border-radius: 7px; background-color: #333; color: #fff; box-sizing: border-box; opacity: 0;}
.works ul li a:hover div { opacity: 1;}
.works ul li a div b { display: block; margin: 10px 0; font-size: 20px;}
.works ul li a div i { font-size: 15px;}
.works .works_detail { display: none; position: absolute; right: 0; top:0; padding: 200px 0 0 500px; min-width: 100%; height: 100%; background-color: #fff; border: 1px solid #333; box-sizing: border-box;}
.works .works_detail h3 { position: absolute; left: 30px; top: 180px; font-size: 40px;}
.works .works_detail .btn_close { position: absolute; right: 30px; top: 90px; width: 50px; height: 50px; background-color: lightgray; font-size: 0;}



/** section - etc **/
.etc .contentBox > div { position: relative;}
.etc .contentBox > div h2 { position: absolute; left: 0; top: 0;}
.etc .contentBox > div > div { padding: 135px 0 0 280px;}
.etc .contentBox .etc_github a { margin: 20px 0; width: 150px; background-color: #333; color: #fff;}
.etc .contentBox .etc_blog > div{ padding-top: 85px;}
.etc .contentBox .etc_blog h2 { padding-top: 70px;}



/** section - contact **/
.contact { position: relative;}
.contact > div { text-align: center;}
.contact h2 { padding-top: 220px; padding-bottom: 20px;}
.contact p { margin: 0 0 50px;}
.contact a,
.contact button { display: block; margin: 10px auto; }
.contact a { border: 1px solid #333; color: #333;}
.contact button { background-color: #333; color: #fff;}
.contact .ending { position: absolute; left: 0; bottom: 0; width: 100%;}
.contact .ending span { display: inline-block; width: 100%; height: 100px; white-space:nowrap; overflow: scroll;}
.contact .ending span em,
.contact .ending span i { margin: 0 20px; font-size: 50px; font-weight: bold;}
