/** 공통 스타일**/
html { width: 100%; height: 100%;  font-family: 'Noto Sans KR', sans-serif; scroll-behavior: smooth;}
body { width: 100%; height: 100%;}
main { width: 100%;}
main section:nth-child(odd) { background-color: #fff; color: #222;}
main section:nth-child(odd) h2 { color: #222;}
main section:nth-child(even) { background-color: #222; color: #fff;}
main section:nth-child(even) h2 { color: #fff; white-space: nowrap;}
.contentBox h2 { display: inline-block; font-size: 0;}
.contentBox h2 i { position: relative; font-weight: bold; font-size: 65px;}
.contentBox h2 i::after { transition: all .9s; position: absolute; content: ""; left: -13px; top: 0; transform: rotate(20deg); width: 170%; height: 140%; }
main section:nth-child(odd) .contentBox h2 i::after { background-color: #fff;}
main section:nth-child(even) .contentBox h2 i::after { background-color: #222;}
.contentBox h2 i::after { left: 140%;}


header { transition: all .7s; position: fixed; z-index: 99; left: 0; top: 0; padding: 0 30px; width: 100%; height: 80px; line-height: 80px; box-sizing: border-box;}
header > a { float: left; color: dimgray; font-size: 15px;}
header > a img { margin-right: 5px; width: 25px; height: 25px; transform: translateY(-2px);}
header nav { float: right;}
header nav ul li {display: inline-block; padding: 0 15px;}
header nav ul li a { position: relative; color: dimgray; font-size: 15px;}
header nav ul li a::before { transition: all .5s; position: absolute; content: ""; left: 50%; bottom: -4px; transform: translateX(-50%); height: 1px; width: 0%; background-color: dimgray; }
header nav ul li:hover a::before { width: 110%;}


.section { width: 100%; min-height: 100%;}
.section .contentBox { position: relative; margin: 0 auto; padding: 160px 30px; max-width: 1200px; min-height: 100vh; box-sizing: border-box; }
h2 { padding: 0 0 20px ; font-size: 65px; line-height: 1; font-family: 'Playfair Display', serif;}


.btnStyle1 { transition: all .3s; display: inline-block; width: 200px; height: 50px; line-height: 50px; text-align: center; font-size: 15px; box-sizing: border-box; background-color: white; color: #333;}
.font-playfair { font-family: 'Playfair Display', serif;}



/** section - visual **/
.visual { position: relative; width: 100%; height: 100%;}
.visual::before { position: absolute; content: ""; right: 50%; top: 0; width: 50%; height: 100%; background: url(images/bg.jpg) no-repeat left top 67% / cover;}
.visual h1 { font-size: 0;}
.visual .contentBox { position: relative; }
.visual .contentBox b { position: absolute; right: 50%; top: 50%; transform: translateY(-50%); font-size: 15vw; color: #fff;}
#typo_start, #typo_iam { transition: all .7s; position: absolute; font-size: 180px; white-space: nowrap; transform-origin: left bottom; font-weight: bold;}
#typo_iam { left: 50%; bottom: 0; transform: rotate(-90deg); text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000; color: white;}
#typo_iam i { color: #222; font-weight: bold;}
#typo_start { right: 0; bottom: 0; transform: rotate(-90deg);}
.visual .scrolldown { position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); width: 3px; height: 100px;}
.visual .scrolldown::before { animation: scrolldownText .7s infinite; position: absolute; content: "scroll down"; right: 20px; font-size: 18px; line-height: 20px; font-style: italic; color: #fff; font-weight: bold;}
.visual .scrolldown span { position: absolute; display: inline-block; width: 100%; height: 100%; background-color: rgba(0,0,0,.6); box-shadow: 0px 0px 7px rgba(0,0,0,1); overflow: hidden;}
.visual .scrolldown span::before { animation: scrolldown 2s infinite; position: absolute; content: ""; left: 0; bottom: 100%; width: 100%; height: 100%; background-color: #fff;}

@keyframes scrolldown {
    50% { bottom: 0%;}
    100% { bottom: -100%;}
}
@keyframes scrolldownText {
    0% { transform: translateY(0px);}
    50% { transform: translateY(5px);}
    100% { transform: translateY(0px);}
}



/** section - about **/
.about .contentBox { display: flex; flex-direction: row; justify-content: space-between;}
.about .contentBox > div { position: relative; min-width: 250px;}
/* .about .contentBox > div span { position: absolute; right: 0; top: 0; margin: 280px 0 0; display: inline-block; width: 600px; height: 100%; overflow:hidden;}
.about .contentBox > div span img { position: absolute; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%); width: 100%;} */
.about .contentBox .resume { max-width: 600px; width: 100%; color: #fff; box-sizing: border-box;}
.about .contentBox .resume > li { display: flex; flex-direction: row; margin: 0 0 50px; font-size: 15px; line-height: 30px; font-weight: 200;}
.about .contentBox .resume > li::after { display: block; content: ""; clear: both;}
.about .contentBox .resume > li h3 { width: 180px; margin: 0 30px 0 0; border-right: 1.5px solid rgba(255,255,255,.1); font-size: 20px; font-weight: 500; box-sizing: border-box;}
.about .contentBox .resume > li > ul,
.about .contentBox .resume > li > p { width: calc(100% - 210px);}
.about .contentBox .resume_career > li b { font-weight: 500;}
.about .contentBox .resume_career > li p { display: block; line-height: 38px;}
.about .contentBox .resume_career > li em { line-height: 22px; color: gray; font-weight: 200;}
.about .contentBox .resume_career > li { line-height: normal;}
.about .contentBox .resume_career > li~li { margin-top: 40px;}
.about .contentBox .resume_skills li { display: inline-block; padding: 0 0 20px; width: 120px; vertical-align: top;}


/** section - works **/
.works { height: 1776px; }
.works .contentBox { position: sticky; top: 0; max-width: none; padding-left: 0; padding-right: 0; overflow: hidden;}
.works .contentBox > div { max-width: 1200px; margin: 0 auto; padding: 0 30px; box-sizing: border-box;}
/* .works .title { position: absolute; left: 50%; top: 0; transform: translateX(-50%); padding: 0 30px; width: 100%; max-width: 1200px; box-sizing: border-box;} */
/* .works .contentBox { padding: 100px 0;}  */
.works ul { transition: all .7s; transform: translateX(0); padding:0 400px 0 0; width: fit-content; white-space: nowrap; box-sizing: border-box; }
.works ul li { display: inline-block; text-align: center; line-height: 1; font-size: 0;}
.works ul li~li {margin-left: 35px;}
.works ul li > button { transition: all .5s; position: relative; display: inline-block; padding: 20px 30px; background-color: lightgray; text-align: left; box-sizing: border-box; white-space: normal; box-shadow: 0px 0px 25px rgba(0,0,0,.2); background-position: center; background-repeat: no-repeat;}
.works ul li:nth-child(1) > button { background-image: url(images/works1.png);}
.works ul li:nth-child(2) > button { background-image: url(images/works2.png);}
/* .works ul li:nth-child(3) > button { background-image: url();} */
.works ul li:nth-child(3) > button { background-image: url(images/works3.png);}
.works ul li:nth-child(4) > button { background-image: url(images/works4.png);}
.works ul li.web > button { width: 650px; height: 355px; background-size: auto 100%;} 
.works ul li.mobile > button { width: 285px; height: 500px; background-size: 100% auto;} 
.works ul li > button div { display: flex; flex-direction: column; justify-content: center; transition: all .3s; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.6); backdrop-filter: blur(2px); color: #fff; box-sizing: border-box; opacity: 0; text-align: center;}
.works ul li.web > button:hover { background-size: auto 105%;}
.works ul li.mobile > button:hover { background-size: 105% auto;}
.works ul li > button:hover div { opacity: 1;}
.works ul li > button div b { font-size: 23px; line-height: 32px;}
.works ul li > button div i { display: block; margin: 16px 0 0; font-size: 15px; line-height: 24px;}
.works ul li > button div em { font-size: 17px; color: rgba(255,255,255,.5);}
#detailWin { transition: all .7s; z-index: 99; position: fixed; left: 0; top: 0; width: 100vw; height: 100vh; background-color: rgba(32,32,32,.7); backdrop-filter: blur(2px); opacity: 0; pointer-events: none;}
#detailWin > div { transition: all .7s; position: absolute; right: -100%; top: 0; width: 100%; height: 100%; max-width: 1300px; background-color: #fff; box-shadow: -2px 0 8px rgba(0,0,0,.3); }
#detailWin > div > div { position: absolute; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%); display: inline-block; padding: 110px 50px 40px ; width: 100%; max-width: 1200px; height: 100%; box-sizing: border-box; overflow: scroll;}
#detailWin > div > div > span { display: inline-block; margin: 0 0 60px; width: 40px; height: 40px; background: url(images/arrow.png) no-repeat center/ 40px auto;}
#detailWin > div > div h3 { font-size: 50px;}
#detailWin > div > div p { display: block; margin: 0 0 30px; font-size: 16px; line-height: 26px; font-weight: 300;}
.hightlight { background-color: rgba(255, 235, 104, 0.712);}
#detailWin > div > div .mark { display: flex; justify-content: end; margin: 30px 0 20px; height: 33px;}
#detailWin > div > div .mark_browser img { height: 100%;}
#detailWin > div > div .mark_w3c { padding: 0 0 0 10px;}
#detailWin > div > div .mark_w3c img { padding: 0 0 0 7px; height: 17px;}
#detailWin > div > div .mark_w3c img:nth-child(2) { height: 20px;}
#detailWin > div > div em { display: inline-block; padding: 40px 0 20px; font-size: 16px; line-height: 25px;}
#detailWin > div > div .btnStyle1 { font-size: 16px; width: 160px; height: 42px; line-height: 38px; background-color: transparent; border: 1.5px solid #333; font-weight: bold;}
#detailWin > div > div .btnStyle1:hover { background-color: #333; color: #fff;}
#detailWin > div .btn_close { position: absolute; right: 30px; top: 30px; width: 50px; height: 50px; font-size: 0;}
#detailWin > div .btn_close::before { transition: all .5s ; position: absolute; content: "\e9af"; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%); font-size: 35px; font-family: "xeicon";}
#detailWin > div .btn_close:hover::before { transform: translateX(-50%) translateY(-50%) rotate(180deg);}
#detailWin > div > div table { font-size: 12px;}
#detailWin > div > div table tr { border-bottom: 1px solid lightgray;}
#detailWin > div > div table thead { background-color: #333; color: #fff;}
#detailWin > div > div table thead tr { height: 30px;}
#detailWin > div > div table thead tr th { font-weight: 500;}
#detailWin > div > div table tbody { text-align: center;}
#detailWin > div > div table tbody tr { height: 55px;}
#detailWin > div > div table tr.line { border-bottom: 2px solid #333;}
#detailWin > div > div table tr td:first-child { color: #DF0404;}
#detailWin > div > div table tr td a:hover { text-decoration: underline;}



/** section - etc **/
.part2 { position: absolute; top: 400vh;}
.etc .contentBox > div { position: relative; padding: 0 0 0 310px;}
.etc .contentBox > div~div { margin-top: 130px;}
.etc .contentBox > div h2 { position: absolute; left: 0; top: 0; padding: 0;}
.etc .contentBox > div > p { margin: 0 0 20px 0 ;}
.etc .contentBox .github a { width: 150px; background-color: transparent; color: #fff; border: 1.5px solid #fff; line-height: 46px; box-sizing: border-box; font-weight: bold;}
.etc .contentBox .github a:hover { background-color: #fff; color: #333; }
.etc .contentBox .blog ul { font-size: 0;}
.etc .contentBox .blog ul li { display: inline-block; padding: 0 20px 20px 0; width: 50%; box-sizing: border-box;}
.etc .contentBox .blog ul li a { transition: all .4s; display: flex; flex-direction: column; justify-content: space-between; padding: 25px 30px; width: 100%; height: 120px; background-color: rgba(255,255,255,0.04); box-sizing: border-box;}
.etc .contentBox .blog ul li a:hover { background-color: rgba(255,255,255,0.1); box-shadow: 0px 0px 7px rgba(0,0,0,.3);}
.etc .contentBox .blog ul li b { display: block; font-size: 18px; font-weight: 400; color: #fff; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; box-sizing: border-box;}
.etc .contentBox .blog ul li p { font-size: 15px; color: gray;}




/** section - contact **/
.contact { position: relative;}
.contact .contentBox { display: flex; flex-direction: column; justify-content: center; height: 100vh; max-width: none; text-align: center;}
.contact h2 { padding-bottom: 20px; font-size: 65px;}
.contact p { margin: 0 0 40px;}
.contact a { display: block; margin: 5px auto; }
.contact a.btnPort { border: 2px solid #333; color: #333; line-height: 46px;}
.contact a.btnResume { background-color: #333; color: #fff;}
.contact .ending { position: absolute; left: 0; bottom: 0; width: 100%; overflow: hidden;}
.contact .ending span { position: relative; display: inline-block; width: 100%; height: 100px; white-space:nowrap;}
.contact .ending span em { position: absolute; font-size: 50px; font-weight: bold;}
.contact .ending span em:nth-child(even) { color: rgba(0,0,0,.08);}
.contact .ending span em:nth-child(odd) { color: rgba(0,0,0,.2);}
