/** index.html **/
.main-top { padding: 0.666rem 1rem 1.233rem 1rem;}
.main-top .main-menu li { display: inline-block;}
.main-top .main-menu li~li { margin-left: 1.166rem;}
.main-top .main-menu a { padding-left: 23px; line-height: 1; font-size: 0.666rem; background-repeat: no-repeat; background-position: 0 center;}
.main-top .main-menu .btn-acc { background-image: url(../images/ico_index_top1.png); background-size: auto 18px;}
.main-top .main-menu .btn-trans { background-image: url(../images/ico_index_top2.png); background-size: auto 14px;}
.main-top .main-menu .btn-prod { background-image: url(../images/ico_index_top3.png); background-size: auto 16.89px;}
.main-top .account { position: relative; margin-top: 1.238rem;}
.main-top .account a { display: block; padding:0.95rem 1.083rem 0.8rem; border: 0.666px solid #E3E4E6; border-radius: 17.666px;}
.main-top .account a em { display: block; margin-bottom: 0.266rem; font-size: 0.633rem; line-height: 1.8;}
.main-top .account a em i { padding-left: 9.66px; }
.main-top .account a b { line-height: 1.5; font-size: 1.083rem; font-weight: 400; vertical-align: middle;}
.main-top .account a span { display: inline-block; margin-left: 0.383rem; padding: 0 0.316rem; line-height: 0.75rem; border-radius: 0.75rem; font-size: 0.5rem; border: 1px solid #D0D3D6; color: #333; font-weight: 400; vertical-align: middle;}
.main-top .account .btn-setting { position: absolute; right: 0.75rem; top: 1.23rem; width: 14px; height: 14px; background: url(../images/ico_index_menu.png) no-repeat center / auto 14px;}
.main-bottom { padding: 0.65rem 1.1rem; height: 100vh; background-color: #F2F3F7; box-sizing: border-box;}
.main-bottom .tab { margin-bottom: 1.083rem;}
.main-bottom .tab ul { display: flex;}
.main-bottom .tab ul li { flex:1; text-align: center;}
.main-bottom .tab ul li button { line-height: 2.2; font-size: 0.633rem; color: #98999B;}
.main-bottom .tab ul li.selected button { border-bottom: 1.666px solid #333; color: #333;}
.main-bottom .tab-content ul { display: flex; flex-wrap: wrap; justify-content: space-between;}
.main-bottom .tab-content li { margin-bottom: 1.2rem; height: 127.666px; width: calc( 50% - 0.433rem); border-radius: 17.666px; background: linear-gradient( 319deg, #fff 0% , #E8E8E8 100%); box-sizing: border-box; box-shadow: 14px 8px 26px #dcdde1;}
.main-bottom .tab-content li:hover { background: #239DEE;}
.main-bottom .tab-content li:hover a { color: #fff;}
.main-bottom .tab-content li a { display: inline-block; padding: 0.5rem 0.75rem; height: 100%; width: 100%; font-size: 0.733rem; line-height: 1.2; background-repeat: no-repeat; background-position: right 0.833rem bottom 0.933rem; box-sizing: border-box; }
.main-bottom .tab-content li a i { display: block; font-size: 0.5rem;}
.main-bottom .tab-content li:nth-child(1) a { background-image: url(../images/ico_index1_off.png); background-size: auto 26.27px;}
.main-bottom .tab-content li:nth-child(2) a { background-image: url(../images/ico_index2_off.png); background-size: auto 29.443px;}
.main-bottom .tab-content li:nth-child(3) a { background-image: url(../images/ico_index3_off.png); background-size: auto 52.276px;}
.main-bottom .tab-content li:nth-child(4) a { background-image: url(../images/ico_index4_off.png); background-size: auto 44.8px;}
.main-bottom .tab-content li:nth-child(5) a { background-image: url(../images/ico_index5_off.png); background-size: auto 32.09px;}
.main-bottom .tab-content li:nth-child(6) a { background-image: url(../images/ico_index6_off.png); background-size: auto 32.223px;}
.main-bottom .tab-content li:nth-child(1) a:hover { background-image: url(../images/ico_index1_on.png);}
.main-bottom .tab-content li:nth-child(2) a:hover { background-image: url(../images/ico_index2_on.png);}
.main-bottom .tab-content li:nth-child(3) a:hover { background-image: url(../images/ico_index3_on.png);}
.main-bottom .tab-content li:nth-child(4) a:hover { background-image: url(../images/ico_index4_on.png);}
.main-bottom .tab-content li:nth-child(5) a:hover { background-image: url(../images/ico_index5_on.png);}
.main-bottom .tab-content li:nth-child(6) a:hover { background-image: url(../images/ico_index6_on.png);}
    /** 팝업메뉴 **/ 
.popup-box { position: absolute; display: none; left: 0; top: 0; width: 100%; height: 100vh; background-color: rgba(0, 0, 0, 0.5);}
.popup-box.active { display: block;}
.popup-box div { position: absolute; left: 0; bottom: 0; padding: 0 1.033rem; width: 100%; border-radius: 21px 21px 0 0; background-color: #fff; box-sizing: border-box;}
.popup-box div h2 { padding: 0.666rem 0 1.325rem; line-height: 1.1rem; font-size: 0.75rem; text-align: center;}
.popup-box div ul { border-top: 1px solid #ECECEC; }
.popup-box div ul li button { width: 100%; line-height: 42px; border-bottom: 1px solid #ECECEC; font-size: 0.7rem; text-align: left;}
.popup-box div .btn-close { position: absolute; left: 1.033rem; top: 0.583rem; width: 25px; height: 25px; background: url(../images/btn_close.png) no-repeat center / 25px auto; font-size: 0;}


/** account.html **/
.acc .tab.depth1 { display: flex; padding: 0.45rem 0.566rem 0; color: #333; background-color: #287BB2; box-sizing: border-box;}
.acc .tab.depth1 li { flex: 1;}
.acc .tab.depth1 li button { width: 100%; color: #fff; line-height: 38.666px; font-size: 0.783rem;}
.acc .tab.depth1 li.selected { border-radius: 10px 10px 0 0; background-color: #fff; }
.acc .tab.depth1 li.selected button { color: #287BB2;}
.acc .tab.depth2 { display: flex; width: 100%; background-color: #fff;}
.acc .tab.depth2 li { flex: 1;}
.acc .tab.depth2 li button { width: 100%; color: #333; font-size: 0.666rem; line-height: 40px;}
.acc .tab.depth2 li.selected button { border-bottom: 2.333px solid #287BB2; color: #287BB2;}
.acc__total { position: relative; padding: 0 0.583rem; height: 86px; line-height: 86px; box-sizing: border-box; }
.acc__total p { position: absolute; font-size: 0.75rem;}
.acc__total em { display: inline-block; padding: 0 4.5rem 0 0; width: 100%; font-size: 1.083rem; text-align: right; box-sizing: border-box;}
.acc__total em i { font-size: 0.916rem;}
.acc__total input[type="checkbox"] { position: absolute; left: -999px; }
.acc__total label { position: absolute; right: 0.533rem; top: 50%; transform: translateY(-50%); display: inline-block; width: 75.333px; height: 25px; border-radius: 25px; background-color: rgba(40, 123, 178, 0.3); font-size: 0;}
.acc__total label::before {  position: absolute; content: "ON"; left: 0; padding: 0 9px; width: 100%; line-height: 25px; color: #fff; font-size: 13.333px; text-align: left; box-sizing: border-box;}
.acc__total label::after { transition: right .4s 0s; position: absolute; content: "잔액"; right: 0; top: 0; width: 37px; border-radius: 25px; line-height: 25px; font-size: 13.333px; color: #fff; background-color: #287BB2; text-align: center;}
.acc__total input[type="checkbox"]:checked + label::after { right: 38.32px;}
.acc__total input[type="checkbox"]:checked + label::before { content: "OFF"; text-align: right;}
.acc__detail { padding: 0.9rem 0.583rem 0.833rem; height: 100%; background-color: #EFEFEF; color: #333;}
.acc__detail .view-type { float: right; margin: 0 0 0.433rem;}
.acc__detail .view-type li { display: inline-block; }
.acc__detail .view-type li button { height: 0.966rem; width: 100%; font-size: 0.583rem; line-height: 0.866rem;}
.acc__detail .view-type li~li { position: relative; padding: 0 0 0 1.066rem ;}
.acc__detail .view-type li~li::before { position: absolute; content: ""; left: 0.533rem; top: 50%; transform: translateY(-50%); width: 0.666px; height: 10px; background-color: #707070;}
.acc__detail .list li { position: relative; padding: 0.5rem 0.75rem 0; width: 100%; height: 7.65rem; border-radius: 3px; background-color: #fff; box-sizing: border-box; }
.acc__detail .list li::before { position: absolute; content: ""; left: 0; top: 0; width: 5.666px; height: 100%; border-radius: 3px 0 0 3px; background-color: #239DEE;}
.acc__detail .list li.focus::before { background-color: #FF653F;}
.acc__detail .list li~li { margin-top: 0.5rem;}
.acc__detail .list li > i { line-height: 0.983rem; font-size: 0.666rem; }
.acc__detail .list li p { line-height: 1.233rem; font-size: 0.833rem; }
.acc__detail .list li em { position: absolute; display: block; height: 1.6rem; right: 0; bottom: 3rem; padding-right: 0.75rem; width: 100%; font-size: 1.083rem; line-height: 1.6rem; text-align: right; box-sizing: border-box;}
.acc__detail .list li em i { display: inline; font-size: 0.916rem; }
.acc__detail .list li span { display: inline-block; margin: 0.166rem 0 0; padding: 0 0.533rem; height: 1rem; line-height: 1rem; border-radius: 1rem; border: 0.666px solid #D0D3D6; font-size: 0.5rem; color: #FF653F;}
.acc__detail .list .btn-group { position: absolute; left: 0; bottom: 1rem; padding: 0 0.583rem 0 0.75rem; width: 100%; box-sizing: border-box;}
.acc__detail .list .btn-group button~button { margin-left: 0.2rem;}
.acc__detail .list .btn-group .btn-history,
.acc__detail .list .btn-group .btn-trans { border-color: #239DEE; color: #239DEE;}
.acc__detail .list .btn-group .btn-etc { float: right; padding-right: 1.083rem; background: url(../images/btn_arrow_down.png) no-repeat right 0.4rem center / 0.285rem auto;}
    /** 안내문 **/
.info-box { padding: 0.766rem 0.55rem; margin: 1.166rem 0 ; background-color: #fff;}
.info-box b { padding-left: 0.65rem; font-size: 0.583rem; background: url(../images/ico_info.png) no-repeat left 0 center / auto 0.558rem;}
.info-box ul { margin-top: 0.357rem;}
.info-box ul li { position: relative; padding-left: 0.55rem; margin-bottom: 0.2rem; font-size: 0.583rem; line-height: 1.3; letter-spacing: -0.77px; font-weight: 300;}
.info-box ul li::before { position: absolute; content: "·"; left: 4px; top:0; line-height: 0.666rem;}


/** product.html **/
.sub-prod header { background-color: #fff;}
.prod-visual { padding: 1.283rem 0.733rem 1.566rem; background-color: #287BB2; box-sizing: border-box; }
.prod-visual h2 { margin: 1.283rem 0 0.716rem; font-size: 0.783rem; color: #fff; text-align: center; font-weight: 300;}
.prod-visual div { display: flex; justify-content: space-between;}
.prod-visual article { width: calc(50% - 0.333rem);}
.prod-visual article a em { line-height: 0.933rem; font-size: 0.633rem; color: #9EA8A7;}
.prod-visual article a i { display: block; line-height: 1.1; font-size: 0.85rem; }
.prod-visual article a b { display: inline-block; margin: 0.3rem 0 0; line-height: 0.933rem; font-size: 0.633rem; font-weight: 400; color: #9EA8A7;}
.prod-visual article a strong { display: block; line-height: 1.95rem; font-size: 1.316rem; color: #239DEE;}
.prod-visual article a p { margin: 0.15rem 0 0; line-height: 0.65rem; font-size: 0.566rem; }
.prod-top { padding: 0.983rem 0.65rem ; background-color: #F6F6F6;}
.prod-top ul { display: flex; flex-wrap: wrap; justify-content: space-between; margin: -.133rem;}
.prod-top ul li { margin: 0.133rem; min-height: 84.666px; width: calc(33.333% - 0.283rem);}
.prod-top ul li a { display: block; border-radius: 1.666px; border: 0.666px solid #E3E7E8; background-color: #fff; font-size: 0.7rem; line-height: 1.2; word-break: keep-all;}
.prod-top ul li:nth-child(1) a::before { background-color: #28B2A5;}
.prod-top ul li:nth-child(2) a::before { background-color: #FF9700;}
.prod-top ul li:nth-child(3) a::before { background-color: #3598DB;}
.prod-top ul li:nth-child(4) a::before { background-color: #F25872;}
.prod-top ul li:nth-child(5) a::before { background-color: #FF653F;}
.prod-top ul li:nth-child(6) a::before { background-color: #2857B3;}
.prod-top > div { display: flex; margin: 1rem 0 0.616rem;}
.prod-top > div > div { position: relative; flex: 1; text-align: center;}
.prod-top > div > div~div::before { position: absolute; content: ""; left: 0; top: 50%; transform: translateY(-50%); height: 12.333px; border-right: 1px solid #D4D8D9;}
.prod-top > div > div button { padding-left: 23.32px; height: 1.05rem; background-repeat: no-repeat; background-position: 0 center; font-weight: bold; font-size: 0.666rem;}
.prod-top > div > div:nth-child(1) button { background-image: url(../images/ico_search.png); color: #33ACA1; background-size: auto 21px ;}
.prod-top > div > div:nth-child(2) button { background-image: url(../images/ico_event.png); color: #4394CB; background-size: auto 14.66px ;}
.prod-btm ul li a { width: 100%; min-height: 92px; font-weight: 100; color: #fff; background-repeat: no-repeat; background-position: right 19px bottom 26.666px; background-size: 33.32px auto;}
.prod-btm ul li a h2 { font-size: 0.666rem; font-weight: 300; line-height: 1rem;}
.prod-btm ul li a p { padding: 0.2rem 0 0 ; font-size: 0.55rem; line-height: 0.816rem;}
.prod-btm ul li:nth-child(1) a { background-image: url(../images/ico_cart.png); background-color: #475E70;}
.prod-btm ul li:nth-child(2) a { background-image: url(../images/ico_hirobot.png); background-color: #556B79;}
.prod-btm ul li:nth-child(3) a { background-image: url(../images/ico_wallet.png); background-color: #239DEE;}
.prod-btm ul li:nth-child(1) a::before { background-color: #28B2A5;}
.prod-btm ul li:nth-child(2) a::before { background-color: #3598DB;}
.prod-btm ul li:nth-child(3) a::before { background-color: #FFFFFF;}


/** allmenu.html **/
.allmenu-top { padding: 0 1.95rem 1.2rem; background-color: #287BB2; color: #fff;}
.allmenu-top .user { position: relative; padding-left: 43.333px; line-height: 0.65rem;}
.allmenu-top .user span { position: absolute; left: 0; top: 0; display: inline-block; width: 28.666px; height: 28.666px; border-radius: 28.666px; background-color: #fff;}
.allmenu-top .user u { display: block; padding-bottom: 0.4rem; font-size: 0.65rem; text-decoration: underline;}
.allmenu-top .user em { font-size: 0.416rem;}
.allmenu-top .user i { font-size: 0.5rem;}
.allmenu-top .user button { position: relative; margin-left: 0.7rem; padding-left: 0.75rem; font-size: 0.516rem; color: #fff; background: url(../images/ico_logout.png) no-repeat 0 center / auto 0.65rem; vertical-align: top;}
.allmenu-top .user button::before { position: absolute; content: ""; left: -0.25rem; top:50%; transform: translateY(-50%); width: 1px; height: 8.666px; background-color: #fff;}
.allmenu-top .search { position: relative; margin-top: 0.883rem; padding: 0 2.5rem 0 0.633rem; height: 1.6rem; width: 100%; border-radius: 1.6rem; background-color: #fff; box-sizing: border-box;}
.allmenu-top .search input { height: 100%; width: 100%; background: transparent;}
.allmenu-top .search input::placeholder { line-height: 1.6rem; font-size: 0.533rem; color: #BBBBBB;}
.allmenu-top .search button { position: absolute; right: 0.8rem; top: 50%; transform: translateY(-50%); width: 1.187rem; height: 1.6rem; background: url(../images/btn_search2.png) no-repeat center / 100% auto; font-size: 0;}
.allmenu-btm { position: relative; width: 100%; height: 100vh; font-size: 0; line-height: 1;}
.allmenu-btm .tab { display: inline-block; height: 100%; width: 111.666px; padding-top: 0.8rem; background-color: #F7F7F7; }
.allmenu-btm .tab li.selected { margin: 0 0 0 0.4rem; width: 110px; height: 34.666px; border-radius: 34.666px; background-color: #287BB2; box-sizing: border-box;}
.allmenu-btm .tab li.selected button { padding-left: 31px; color: #fff; background-size: auto 10.89px; background-position: 13.66px center ; background-repeat: no-repeat; }
.allmenu-btm .tab li.selected button.menu_custom { background-image: url(../images/ico_menu_left1_on.png);}
.allmenu-btm .tab li:not(.selected) { padding: 0 0 0 0.683rem;}
.allmenu-btm .tab li button { display: inline-block; height: 34.666px; font-size: 0.55rem;}
.allmenu-btm .tab-content { display: inline-block; padding: 0.558rem 0.891rem 0 1.266rem; width: calc(100% - 111.666px); height: 100%; vertical-align: top; box-sizing: border-box;}
.allmenu-btm .tab-content .title { position: relative;}
.allmenu-btm .tab-content .title h2 { font-size: 0.716rem; line-height: 3; border-bottom: 1px solid #287BB2; font-weight: 400; color: #0F2522;}
.allmenu-btm .tab-content .title button { position: absolute; right: 0; top:50%; transform: translateY(-50%); width: 0.95rem; height: 0.95rem; background: url(../images/ico_menu_write.png) no-repeat center / 0.659rem auto; font-size: 0;}
.allmenu-btm .tab-content ul { margin: 0.783rem 0 0 ;}
.allmenu-btm .tab-content ul li a { display: block; line-height: 1.75rem; font-size: 0.6rem; color: #0F2522; background-size: 0.666rem auto; background-repeat: no-repeat; background-position: right 0 center; font-weight: 600;}
.allmenu-btm .tab-content ul li a.fav { background-image: url(../images/ico_fav.png);}
.allmenu-btm .tab-content ul li a.history { background-image: url(../images/ico_menu_time.png);}
    /** 하단 메뉴바 **/
.allmenu-footer { position: fixed; left: 0; bottom: 0; padding: 0 0.716rem; width: 100%; height: 41.333px; border-top: 1.666px solid #F7F7F7; background-color: #fff; box-sizing: border-box;}
.allmenu-footer ul li { display: inline-block;}
.allmenu-footer ul li~li { margin-left: 0.783rem;}
.allmenu-footer ul li a { padding-left: 17.666px; line-height: 41.333px; font-size: 0.533rem; background-position: 0 center; background-repeat: no-repeat;}
.allmenu-footer ul li:nth-child(1) a { background-image: url(../images/ico_menu1.png); background-size: 16px auto;}
.allmenu-footer ul li:nth-child(2) a { background-image: url(../images/ico_menu2.png); background-size: 13px auto;}
.allmenu-footer ul li:nth-child(3) a { background-image: url(../images/ico_menu2.png);  background-size: 13px auto;}















