html { font-size: 20px; line-height: 1; }
@media ( min-width: 480px){
    html { font-size: 25px;}
}
body { position: relative; font-size: 1rem; color: #000;}
main { font-size: 0;}
main section:first-child { padding-top: 50px;}



/** header **/
header { position: absolute; left: 0; top: 0; width: 100%; height: 50px;}
header h2 { text-align: center; line-height: 50px; font-size: 0.75rem;}
header div { position: absolute; top: 50%; transform: translateY(-50%);}
header div.header-left { left: 0.6rem;}
header div.header-right { right: 0.6rem;}
header button,
header a { display: inline-block; width: 30px; height: 30px; font-size: 0; background-repeat: no-repeat; background-position: center;}
header .btn-back { position: relative; background-image: url(../images/ico_back.png); background-size: 0.8rem auto;}
header .btn-alarm { position: relative; background-image: url(../images/ico_alarm.png); background-size: 0.644rem auto;}
header .btn-alarm.new::before { position: absolute; content: "N"; right: 3px; top: 3px; width: 10px; height: 10px; line-height: 10px; border-radius: 10px; background-color: #FF653F; color: #fff; font-size: 5px; text-align: center;}
header .btn-search { background-image: url(../images/btn_search.png); background-size: 0.883rem auto;}
header .btn-home { background-image: url(../images/ico_home.png); background-size: 0.783rem auto;}
header .btn-menu { background-image: url(../images/btn_menu.png); background-size: 1rem auto;}
header .btn-close { background-image: url(../images/ico_close2.png); background-size: 0.7rem auto;}
/** 버튼 보조글자 **/
header button.btn-style__font,
header a.btn-style__font { padding-top: 20px; margin-left: .4rem; width: auto; line-height: 8.333px; font-size: 8.333px; background-position: center 0; color: #333; box-sizing: border-box;}
header .btn-menu.btn-style__font { background-size: 0.883rem auto;}
header .btn-alarm.btn-style__font { background-size: 1rem auto;}


/** style **/
.btn-style__round { padding: 0 0.4rem; min-width: 66px; height: 28.666px; border-radius: 28.666px; border: 1px solid #D0D3D6; font-size: 0.583rem; color: #333; box-sizing: border-box;}
.box-style__colorbar { display: inline-block; position: relative; padding: 1.283rem 0.7rem 0.45rem; width: 100%; height: 100%; background-color: #fff; box-sizing: border-box;}
.box-style__colorbar::before { position: absolute; content: ""; top: 0.766rem; left: 0.666rem; width: 28.666px; height: 2.666px; border-radius: 2.666px; background-color: #239DEE;}
.font-size__0 { font-size: 0;}