/** 메인화면 - visual **/
.main-visual { position: relative; height: 100vh; padding: 0; overflow: hidden;}
.main-visual .slide { position: relative;}
.main-visual .slide__item { position: relative; width: 100%; height: 100vh; background-size: cover;}
.main-visual .slide__item::before { position: absolute; content: ""; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.6);}
.main-visual .slide__item:nth-child(1) { background-image: url(images/bg_main_visual_1.jpg);}
.main-visual .slide__item:nth-child(2) { background-image: url(images/bg_main_visual_2.jpg);}
.main-visual .slide__item:nth-child(3) { background-image: url(images/bg_main_visual_3.jpg);}
.slide-slick1 .slick-dots { position: absolute; z-index: 5; left: 50%; top:50%; transform: translateX(-50%) translateY(-50%); display: inline-block; margin: 70px 0 0; padding: 0 20px; width: 100%; max-width: 1380px; box-sizing: border-box;}
.slide-slick1 .slick-dots li { display: inline-block; margin: 0 15px 0 21px; }
.slide-slick1 .slick-dots li:first-child { margin-left: 0;}
.slide-slick1 .slick-dots li button { font-size: 16px; color: rgba(255,255,255,.3);}
.slide-slick1 .slick-dots li.slick-active { position: relative; margin-right: 95px;}
.slide-slick1 .slick-dots li.slick-active::after { position: absolute; content: ""; left: 26px; top: 50%; transform: translateY(-50%); width: 80px; height: 2px; background-color: rgba(255, 255, 255, 0.4);}
.slide-slick1 .slick-dots li.slick-active::before { animation: timeBar 5s 0s; position: absolute; content: ""; left: 26px; top: 50%; transform: translateY(-50%); height: 2px; background-color: #fff;}
.slide-slick1 .slick-dots li.slick-active button { color: rgba(255,255,255,1);}
@keyframes timeBar {
    0% { width: 0;}
    100% { width: 80px;}
}
.main-visual .main-title { text-align: left;}
.main-visual .heading-level-2 { position: absolute; top: 50%; transform: translateY(-50%); color: #fff; font-size: 50px;}
.main-visual .txt-style__gra { display: block; padding: 20px 0 73px; font-size: 56px;}
/* .main-visual .content .visual_number .btn_playstop { position: relative; margin: 0 0 0 35px; width: 12px; height: 12px; vertical-align: middle;}
.main-visual .content .visual_number .btn_playstop::after { position: absolute; content: ""; right: 0; top: 0; width: 5px; height: 12px; background-color: white;}
.main-visual .content .visual_number .btn_playstop::before { position: absolute; content: ""; left: 0; top: 0; width: 5px; height: 12px; background-color: white;} */




/** 메인화면 - business **/
.main-business { padding-top: 176px; background: url(images/bg_main_business.jpg) no-repeat left 0 top 0 / cover; color: white;}
.main-business__list { margin: 0 -12px; display: flex; flex-direction: row;}
.main-business__item { padding: 0 12px 45px 12px; box-sizing: border-box;}
.main-business__img { position: relative; width: 100%; height: 430px; line-height: 430px; text-align: center; overflow: hidden; background-repeat: no-repeat; background-position: center; background-size: auto; font-size: 0;}
.main-business__item:nth-child(1) .main-business__img { background: url(images/main_business_img1.jpg) no-repeat center / cover;}
.main-business__item:nth-child(2) .main-business__img { background: url(images/main_business_img2.jpg) no-repeat center / cover;}
.main-business__item:nth-child(3) .main-business__img { background: url(images/main_business_img3.jpg) no-repeat center / cover;}
.main-business__item:nth-child(4) .main-business__img { background: url(images/main_business_img4.jpg) no-repeat center / cover;}
.main-business__item:nth-child(5) .main-business__img { background: url(images/main_business_img5.jpg) no-repeat center / cover;}
.main-business__img::before { transition: all 0.4s 0s; position: absolute; content: ""; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%) rotate(-45deg); width: 50%; height: 50%; background-color: rgba(0,125,198,0);}
.main-business__link:hover .main-business__img::before { width: 100%; height: 100%; transform: translateX(-50%) translateY(-50%) rotate(-180deg); background-color: rgba(0,125,198,.7);}
.main-business__link .box-style__detail { opacity: 0;}
.main-business__link:hover .box-style__detail { position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 1;}
.main-business__item__title-en { display: inline-block; padding: 30px 0 23px; font-size: 16px; color: rgba(255, 255, 255, 0.5);}
.main-business__item__txt { padding: 20px 0 0 ; font-size: 15px; color: rgba(255, 255, 255, 0.8); line-height: 23px;}


/** 메인화면 - esg **/
.main-esg { position: relative; padding-top: 217px; background: url(images/bg_main_esg.jpg) no-repeat left 0 top 0 / cover; box-sizing: border-box;}
.main-esg .inner { text-align: center;}
.main-esg__list { display: flex; flex-direction: row; justify-content: center; padding: 50px 0; min-height: 330px; background-color: rgb(0, 0, 0, 0.3); box-sizing: border-box; vertical-align: middle;}
.main-esg__item { transition: all .3s .1s; display: flex; flex-direction: column; justify-content: center; padding-top: 80px; width: 100%; height: 230px; font-size: 22px; color: #fff; font-weight: 600; box-sizing: border-box;}
.main-esg__item~.main-esg__item { position: relative; border-left: 1px solid rgba(255, 255, 255, 0.2);}
.main-esg__item~.main-esg__item::before { position: absolute; content: ""; left: -2px; top: calc( 50% - 6px ); width: 3px; height: 3px; background-color: #007dc6;}
.main-esg__item~.main-esg__item::after { position: absolute; content: ""; left: -2px; top: calc( 50% + 3px ); width: 3px; height: 3px; background-color: #00a651;}
.main-esg__item i { font-size: 50px; margin: 0 auto; font-weight: 300; color: #00a651;}
.main-esg__title { padding: 26px 0 19px 0; font-size: 24px;}
.main-esg__title-en { display: block; font-size: 16px; color: rgba(255, 255, 255, 0.5); font-weight: 400;}
.main-esg__item:hover { padding-top: 0;}
.main-esg__item .btn-style__border { transition: all .3s .1s; margin: 30px auto 0 auto; width: 176px; height: 48px; line-height: 48px; font-size: 14px; color: rgba(255, 255, 255, 0.5); font-weight: 400; opacity: 0;}
.main-esg__item:hover .btn-style__border { opacity: 1;}
.main-esg__item:hover .btn-style__border:hover { border-color: #fff; background-color: #fff; color: #000;}


/** 메인화면 - ir **/
.main-ir { padding-top: 165px; width: 100%; background: url(images/bg_main_ir.jpg) no-repeat left 0 top 0 / cover;}
.main-ir .inner { position: relative; }
.main-ir .main-title { position: absolute; left: 20px; top: 110px; text-align: left;}
    /* 우측 article */
.main_ir__side { display: flex; justify-content: flex-end; padding: 0 0 23px 550px; width: 100%; box-sizing: border-box; } 
.main-ir .article { width: 100%; max-width: 360px; min-width: 330px; height: 440px;}
.main-ir .article~.article { margin: 0 0 0 20px;}
.main-ir .article__link { position: relative; display: inline-block; width: 100%; height: 100%; background-repeat: no-repeat; background-position: left 0 bottom 20%; background-size: auto 100%; }
.main-ir .article__wrap { position: relative; padding: 60px 45px; width: 100%; height: 100%; box-sizing: border-box;}
.main-ir .article:nth-child(1) .article__link { background-image: url(images/bg_main_ir_banner1.jpg);}
.main-ir .article:nth-child(2) .article__link { background-image: url(images/bg_main_ir_banner2.jpg);}
.main-ir .article__title { font-size: 24px; color: #fff;}
.main-ir .article__txt { padding: 20px 0 0 0; font-size: 15px; color: rgba(255, 255, 255, 0.8); line-height: 24px;}
        /* hover - icon */
.main-ir .article__link::before { transition: all .2s 0s; position: absolute; content: "\e97a"; bottom: 30px; right: 30px; width: 50px; height: 50px; font-size: 23px; color: #fff; font-family: 'xeicon'; line-height: 50px; text-align: center; background-color: #007dc6;}
.main-ir .article__link:hover:before  { opacity: 0;}
        /* hover - moredetail text */
.main-ir .article__link .box-style__detail { position: absolute; z-index: 1; left: 0; top: 0; opacity: 0;}
.main-ir .article__link:hover .box-style__detail { opacity: 1;}
        /* hover - background color */
.main-ir .article__wrap::after { transition: all .3s .1s; position: absolute; content: ""; bottom: 0; right: 0; width: 0; height: 0; background-color: rgba(0,125,198,.8);}
.main-ir .article__link:hover .article__wrap::after { width: 100%; height: 100%;}
    /* 하단 news list */
.main-ir__news { clear: both; position: relative;}
.main-ir__news__title { padding: 0 0 12px; font-size: 24px; color: #fff;}
.main-ir__news__txt { font-size: 16px; color: rgba(255, 255, 255, 0.5);}
.main-ir__news__wrap { position: relative; width: calc(100% + 20px);}
.main-ir__news .btn_detail { transition: all .25s 0s; position: absolute; top:35px; right: 0; padding: 0 20px 0 0; font-size: 14px; font-weight: bold; color: rgba(255, 255, 255, 0.5);}
.main-ir__news .btn_detail::before { position: absolute; left: 0; top: 0; width: 100%; height: 100%; content:"\e907"; font-family: 'xeicon'; text-align: right;}
.main-ir__news .btn_detail:hover { color: #fff;}
.main-ir__news .main-ir__list { display: flex; flex-direction: row; justify-content: stretch; margin: 36px 0 0;}
.main-ir__news .main-ir__item~.main-ir__item { margin: 0 0 0 20px;}
.main-ir__news .main-ir__item__link { transition: all .4s; display: inline-block; position: relative; padding: 30px; width: 100%; height: 190px; border: 1px solid rgba(255, 255, 255, 0.3); color: #fff; box-sizing: border-box;}
.main-ir__news .main-ir__item__link:hover { background-color: rgba(255, 255, 255, 0.1); border-color: rgba(255, 255, 255, 0.1);}
.main-ir__news .main-ir__item__title { display: block; font-size: 18px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.main-ir__news .main-ir__item__text { padding: 19px 0 0; font-size: 16px; opacity: 0.5; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.main-ir__news .date { position: absolute; left: 30px; top: 140px; opacity: 0.5;}
        /* slide */
.slide-slick2 .slick-arrow { transition: all .25s 0s; position: absolute; top:50%; transform: translateY(-50%); width: 60px; height: 60px; border-radius: 30px; background-color: #2a3036; font-size: 0; color: #fff;}
.slide-slick2 .slick-arrow:hover { background-color: #007dc6;}
.slide-slick2 .slick-next { right: -90px;}
.slide-slick2 .slick-next::before { position: absolute; content: "\e907"; left: 0; top: 0; width: 100%; height: 100%; font-family: 'xeicon'; font-size: 20px; text-align: center; line-height: 60px;}
.slide-slick2 .slick-prev { left: -90px;}
.slide-slick2 .slick-prev::before { position: absolute; content: "\e906"; left: 0; top: 0; width: 100%; height: 100%; font-family: 'xeicon';  font-size: 20px; text-align: center; line-height: 60px;}
.slide-slick2 .slick-dots { display: none; position: absolute; left: 50%; bottom: -50px; transform: translateX(-50%);}
.slide-slick2 .slick-dots li { display: inline-block; margin: 0 10px;}
.slide-slick2 .slick-dots button { width: 7px; height: 7px; border-radius: 100%; background-color: #007dc6; font-size: 0; opacity: 0.3;}
.slide-slick2 .slick-dots li.slick-active button { opacity: 1;}


/** 메인화면 - pr **/
.main-pr { padding-top: 147px; width: 100%; background: url(images/bg_main_pr.jpg) no-repeat left 0 top 0 / cover;}
.main-pr__wrap { display: flex; flex-direction: row; justify-content: stretch; }
.main-pr .article { position: relative; width: 50%; height: 100%;}
.main-pr .article~.article { margin-left: 60px;}
.main-pr .article__title { padding: 0 0 25px; border-bottom: 2px solid #fff;}
.main-pr .article__title__txt { color: #fff; font-size: 24px; line-height: 40px; }
.main-pr .article__content { height: 100%; min-height: 430px;}
.main-pr .article .icon__more { position: absolute; right: 0; top: 0;}
    /** 좌측 article - media **/
.main-pr__media .tab__title__item { display: inline-block;}
.main-pr__media .tab__title__item~.tab__title__item { position: relative; padding: 0 0 0 42px;}
.main-pr__media .tab__title__item~.tab__title__item::before { position: absolute; content: ""; left: 21px; top:50%; transform: translateY(-50%); width: 1px; height: 16px; background-color: rgba(255, 255, 255, 0.5);}
.main-pr__media .tab__title__btn { color: rgba(255, 255, 255, 0.3);}
.main-pr__media .tab__title__btn.active { color: #fff;}
.main-pr__media .tab__list { display: none; height: 100%;}
.main-pr__media .tab__list.active { display: block;}
.main-pr__media .tab__list__link { transition: all .4s; position: relative; display: inline-block; padding: 0 30px; width: 100%; height: 70px; border-bottom: 1px solid rgba(255, 255, 255, 0.15); line-height: 70px; font-size: 17px; color: rgba(255, 255, 255, 0.6); box-sizing: border-box;}
.main-pr__media .tab__list__link .tab__list__txt { display: inline-block; padding: 0 140px 0 0; width: 100%; font-weight: 400; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; box-sizing: border-box;}
.main-pr__media .date { display: inline-block; position: absolute; right: 30px; top:50%; transform: translateY(-50%);}
.main-pr__media .tab__list__link:hover { background-color: rgba(255, 255, 255, 0.1);}
.main-pr__media .tab__list__link:hover .tab__list__txt { color: #fff;}
.main-pr__media .tab__list__item.main .tab__list__link { position: relative; padding-left:220px; height: 220px; box-sizing: border-box; line-height: 1;}
.main-pr__media .tab__list__item.main .tab__list__img { display: inline-block; position: absolute; left: 30px; top:50%; transform: translateY(-50%); width: 160px;}
.main-pr__media .tab__list__item.main .tab__list__img-src { width: 100%;}
.main-pr__media .tab__list__item.main .tab__list__title { display: block; max-width: 420px; padding: 95px 0 45px; font-size: 20px; font-weight: 600;}
.main-pr__media .tab__list__item.main .tab__list__txt { padding: 0 20px 0 0; width: 100%; font-size: 16px; color: rgba(255, 255, 255, 0.3);  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; box-sizing: border-box;}
.main-pr__media .tab__list__item.main .date { left: 220px; top: 50px;}
    /** 우측 article - brochure **/
.main-pr__brochure .article__content { display: flex; justify-content: center; padding: 83px 0 30px; border-bottom: 1px solid rgba(255, 255, 255, 0.15); box-sizing: border-box;}
.main-pr__brochure .article__content__item { margin: 0 25px;}
.main-pr__brochure__img { width: 206px;}
.main-pr__brochure__txt { padding: 0 0 28px; font-size: 22px; color: #fff; line-height: 30px; }
.main-pr__brochure .icon__download { margin: 0 0 10px; padding: 0 25px; width: 162px; height: 50px; font-size: 16px; text-align: left; }
.main-pr__brochure .icon__download::before { right: 25px; text-align: right; font-size:16px; }
.main-pr__brochure .icon__download:hover { background-color: #fff; border-color: #fff; color: #000;}
.main-pr__brochure .icon__download:hover::before { color: #000;}


/** 메인화면 - etc **/
.main .main-etc { padding-bottom: 0; line-height: 1; font-size: 0;}
.main-etc .article { display: inline-block; position: relative; height: 505px; width: 50%; padding: 190px 0  0 140px; color: #fff; box-sizing: border-box; background-repeat: no-repeat; background-position: left 0 top 50%; background-size: cover;}
.main-etc .article:nth-child(1) { background-image: url(images/bg_main_banner1.jpg);}
.main-etc .article:nth-child(2) { background-image: url(images/bg_main_banner2.jpg);}
.main-etc .article__txt { padding: 27px 0 0; font-size: 18px; line-height: 27px; color: rgba(255,255,255,.8);}
.main-etc .article__btn-group { position: absolute; left:0; bottom: 100px; margin: 0 0 0 -5px; padding: 0 0 0 140px; display: flex; justify-content: left;  width: 100%; box-sizing: border-box;}
.main-etc .article .icon__more { padding: 0 73px 0 30px; margin: 0 5px; width: auto; height: 60px; line-height: 60px; font-size: 17px; text-align: center;}
.main-etc .article .icon__more::before { right: 32px; width: auto; text-align: right;} 
.main-etc .article .icon__more:hover { background-color: #fff; border-color: #fff; color: #000;}
.main-etc .article .icon__more:hover::before { color: #000;}
@media (min-width: 0px) and (max-width:1460px){ 
    .main-etc article { text-align: center; padding: 190px 0 0 0;}
    .main-etc article span { padding: 0; justify-content: center; }
}




/** 사업영역 **/
.heading-level-6 { line-height: 31px; font-size: 24px; word-break: keep-all;}

/* .sub-contact article { position: relative; margin-top: 110px; padding: 0 0 0 240px; box-sizing: border-box;} */
/* .sub-business__trans article > h6 b,
.sub-contact article > h6 b { display: block;} */

.business__trans__comp .list.depth1 { display: flex; justify-content: space-between; flex-wrap: wrap;}
.business__trans__comp .list.depth1 > .list__item { display: inline-block; margin-bottom: 55px; width: calc(50% - 30px);}
.business__trans__comp .list.depth1 > .list__item:nth-last-child(1) { margin: 0;}
.business__trans__comp .list.depth1 > .list__item:nth-last-child(2) { margin: 0;}
.business__trans__comp .list__img { display: block; width: 100%;}
.business__trans__comp .list__txt-bold { display: inline-block; padding: 36px 0 15px; font-size: 20px;}
.business__trans__comp .list__txt { font-size: 16px; color: #666; line-height: 34px;}
.business__trans__comp .list__txt:before { content: "· ";}

.business__trans__serv .content__txt { padding: 0 0 30px; font-size: 18px; }
.business__trans__serv .content__img { display: block; margin: 0 0 19px; width: 100%; border:1px solid #e5e5e5;}
.business__trans__serv .list__item { display: flex; flex-direction: column; justify-content: center; height: 117px; border-bottom: 1px dashed #e5e5e5;}
.business__trans__serv .list__txt-bold { padding: 0 0 14px; font-size: 18px; }
.business__trans__serv .list__txt { font-size: 16px; color: #666;}

.sub-business__trans__cont .table__td:nth-child(1) { width: 300px;}
.sub-business__trans__cont .table__td:nth-child(2) { width: 251px;}
.sub-business__trans__cont .table__td:nth-child(3) { width: 257px;}
.sub-business__trans__cont .table__td:nth-child(4) { width: 372px;}
.sub-business__trans__cont .table__link { color: #555;}
.sub-business__trans__cont .table__link:hover { text-decoration: underline;}

.sub-business__trans__corp .table__td:nth-child(1) { width: 287px;}
.sub-business__trans__corp .table__td:nth-child(2) { width: 402px;}
.sub-business__trans__corp .table__td:nth-child(3) { width: 491px;}
.sub-business__trans__corp .table__link { color: #555;}
.sub-business__trans__corp .table__link:hover { text-decoration: underline;}



/** 투자정보 | IR News**/
/* .sub__content { margin: 0 auto; padding: 0 20px; max-width: 1380px; text-align: center; box-sizing: border-box;} */
.sub__content > b { display: block; padding: 57px 0 26px; font-size: 18px; color: #007dc5; font-family: poppins; font-weight: 700; text-align: center;}
.sub__content > p { margin: 0 0 70px 0; line-height: 26px; font-size: 17px; color: #666; text-align: center;}

.sub-ir__news .sub__content .list__item { margin: 0 0 20px 0;}
.sub-ir__news .sub__content .list__link { display: inline-block; position: relative; padding: 0 0 0 167px; width: 100%; height: 168px; line-height: 168px; box-sizing: border-box; color: #333; border:1px solid #eeeeee;}
.sub-ir__news .sub__content .list__link::after { transition: all .4s 0s; position: absolute; content: "\e913"; right: 80px; top:50%; transform: translateY(-50%); width: 50px; height: 50px; line-height: 50px; text-align: center; font-weight: bold; border: 1px solid #eee; font-family: 'xeicon'; color: #aaa;}
.sub-ir__news .sub__content .list__link:hover::after { background-color:#007dc5; color: #fff;}
.sub-ir__news .sub__content .list__link::before { transition: all .4s 0s; position: absolute; content: ""; left: 0; top: 0; width: 100%; height: 100%; border:3px solid transparent; box-sizing: border-box;}
.sub-ir__news .sub__content .list__link:hover::before { border: 3px solid #007dc5; }
.sub-ir__news .sub__content .list__date { transition: all .4s 0s; position: absolute; left: 60px; top:50%; transform: translateY(-50%); font-size: 16px; color: #d0d0d0; line-height: 1; text-align: center; font-family: poppins;}
.sub-ir__news .sub__content .list__date__month { display: block; padding: 0 0 7px 0; font-size: 60px; font-weight: 700;}
.sub-ir__news .sub__content .list__link:hover .list__date { color: #222;}
.sub-ir__news .sub__content .list__link .list__title { font-size: 20px;}
.sub-ir__news .sub__content .list__link:hover .list__title { color:#003880;}

.btn-page-group { margin: 80px 0 0; text-align: center;}
.btn-page-group li { display: inline-block; }
.btn-page-group li a { transition: all .3s 0s; display: inline-block; width: 40px; height: 40px; line-height: 40px; border: 1px solid #e5e5e5; background: #fff; color: #999;}
.btn-page-group li.page_move a { background-position: center; background-repeat: no-repeat; background-size: 38px auto;}
.btn-page-group li.btn_backend a { background-image: url(images/btn_backend.png);}
.btn-page-group li.btn_backend a:hover { background-image: url(images/btn_backend_hover.png);}
.btn-page-group li.btn_back a { background-image: url(images/btn_back.png);}
.btn-page-group li.btn_back a:hover { background-image: url(images/btn_back_hover.png);}
.btn-page-group li.btn_front a { background-image: url(images/btn_front.png);}
.btn-page-group li.btn_front a:hover { background-image: url(images/btn_front_hover.png);}
.btn-page-group li.btn_frontend a { background-image: url(images/btn_frontend.png);}
.btn-page-group li.btn_frontend a:hover { background-image: url(images/btn_frontend_hover.png);}
.btn-page-group li:not(.active) a:hover { border: 1px solid #222; color: #222;}
.btn-page-group li.active a { background: #333; color: #fff;}
.btn-page-group li~li { margin: 0 0 0 5px;}



/** 투자정보 | Contact IR **/
.import::before { content: "*"; color: #007dc6;}

.sub-contact__info { position: relative; width: 100%; padding-top: 120px; background: url(images/contact_bg2.png) no-repeat right 0px top 0px / 500px auto #fafafa; box-sizing: border-box;}
.sub-contact__info:before { position: absolute; z-index: -1; content: ""; left: 0; top: 0; width: 100%; height: 100%; background: url(images/contact_bg1.png) no-repeat left 0px top 0px / auto 500px;}
.sub-contact__info article { margin-top: 0;}
/* .sub-contact__info article b { font-size: 18px;} */
.sub-contact__info article p { padding: 19px 0 56px; font-size: 17px; color: #58595b;}
.card { display: flex; align-items: center; padding: 50px 0; height: 222px; width: 100%; border: 1px solid #eeeeee; background-color: #fff; box-sizing: border-box;}
.card__left { padding: 0 40px; width: 390px; border-right: 1px solid #eeeeee; box-sizing: border-box; }
.card__left b { display: inline-block; padding-left: 160px; background: url(images/contact_icon2.png) no-repeat 55px center / 45px auto;  font-size: 24px; line-height: 33px; word-break: keep-all;}
.card__right { display: flex; flex-direction: column; justify-content: center; padding: 0 40px; height: 100%;}
.card__right strong { display: inline-block; margin: 0 0 20px 0; font-size: 20px; color: #555;}
.card-contact__link { padding: 0 0 0 32px; font-size: 17px; color: #888; line-height: 28px;}
.card-contact__link:hover { text-decoration: underline;}
.card-contact__tel { background: url(images/ico_tel.png) no-repeat 0px center / 17px auto;}
.card-contact__mail { background: url(images/ico_mail.png) no-repeat left top 9px / 17px auto;}

.sub-contact__form { margin: 115px auto 0; padding: 0 20px; max-width: 1380px; box-sizing: border-box;}
.sub-contact__form > p { padding: 0 0 25px; font-size: 15px; color: #555; text-align: right;}

.sub-contact__form .table { width: 100%; border-top: 2px solid #222; text-align: left;}
.sub-contact__form .table-row { min-height: 80px; line-height: 80px; border-bottom: 1px solid #f0f0f0;}
.sub-contact__form .table-th { padding: 0 0 0 30px; width: 100%; width: 250px; border-right: 1px solid #f0f0f0; font-size: 17px; font-weight: 600; box-sizing: border-box;}
.sub-contact__form .table-td { padding: 0 12px; font-size: 16px; color: #000; box-sizing: border-box;}
.sub-contact__form .table-td > div { display: flex; width: 100%; max-width: 450px; }
.sub-contact__form .table-td > div > div { padding: 0 10px; width: 100%; box-sizing: border-box;}
.sub-contact__form .table-td > div > div input,
.sub-contact__form .table-td > div > div select,
.sub-contact__form .table-td > div > div textarea { margin: 15px 0; height: 50px; width: 100%; border: 1px solid #dddddd; text-indent: 20px; box-sizing: border-box;}
.sub-contact__form .table-td > div > div input::placeholder,
.sub-contact__form .table-td > div > div textarea::placeholder { color: #b7b7b7;}
.sub-contact__form .table-row.tel .table-td > div > div~div { position: relative;}
.sub-contact__form .table-row.tel .table-td > div > div~div::before { position: absolute; content: "-"; left: -10px; top: 50%; transform: translateY(-50%); width: 20px; text-align: center; font-size: 16px; color: #333; line-height: 50px;}
.sub-contact__form .table-row.mail .table-td > div { display: inline-flex;}
.sub-contact__form .table-row.mail .table-td > div select { text-indent: 17px; appearance: none; -webkit-appearance: none; background: url(images/ico_select_arrow2.png) no-repeat right 20px center / auto ;}
.sub-contact__form .table-row.mail .table-td > div select::-ms-expand { display: none;}
.sub-contact__form .table-row.mail .table-td > div:first-child > div~div { position: relative;}
.sub-contact__form .table-row.mail .table-td > div:first-child > div~div::before { position: absolute; content: "@"; left: -10px; top: 50%; transform: translateY(-50%); width: 20px; text-align: center; font-size: 16px; color: #333; line-height: 50px;}
.sub-contact__form .table-row.content .table-td > div { max-width: none;}
.sub-contact__form .table-row.content .table-td > div > div textarea { padding: 20px 30px 0 30px; width: 100%; height: 250px; text-indent: 0; resize:none;}

.sub-contact__agree { text-align: left; }
.sub-contact__agree > b { display: inline-block; padding: 80px 0 25px;}
.sub-contact__agree > div { border: 1px solid #dddddd;}
.sub-contact__agree .textarea { display: inline-block; padding: 35px 40px ; width: 100%; border-bottom: 1px solid #f0f0f0; line-height: 24px; font-size: 14px; box-sizing: border-box; }
.sub-contact__agree .textarea table { max-width: 855px; border:1px solid #000; text-align: center;}
.sub-contact__agree .textarea table thead { border-bottom: 1px solid #000; background-color: #d9d9d9;}
.sub-contact__agree .textarea table th,
.sub-contact__agree .textarea table td { padding: 0 30px; border-right: 1px solid #000;}
.sub-contact__agree .checkbox { display: inline-block; padding: 0 0 0 40px; line-height: 70px;}
.sub-contact__agree .checkbox input { position: absolute; left: -5000px;}
.sub-contact__agree .checkbox label { position: relative; padding: 0 0 0 25px;}
.sub-contact__agree .checkbox label::before { position: absolute; content: ""; left: 0; top:5px; width: 16px; height: 16px; background: url(images/ico_unselect.png) no-repeat center / auto;}
.sub-contact__agree .checkbox input:checked + label::before { background-image: url(images/ico_select.png);}

.sub-contact__form button { transition: all .3s 0s; margin: 80px auto 0; display: block; padding: 0 80px 0 0; width: 200px; height: 65px; background-color: #007dc6; color: #fff; font-size: 17px; font-weight: 600; background: url(images/ico_pencil.png) no-repeat right 30px center / auto #007dc6; box-sizing: border-box; }
.sub-contact__form button:hover { border:1px solid #007dc6; background-image: url(images/ico_pencil_hover.png); background-color: #fff; color: #007dc6;}


/** 홍보센터 | 소셜미디어 **/
.sub-media__content > span { display: inline-block; margin: 55px 0 35px; padding: 0 0 0 24px; line-height: 14px; font-size: 15px; background: url(images/ico_page.png) no-repeat 0 center / auto 14px;}
.sub-media__content > span i { color: #007dc6;}
.sub-media__content ul { display: flex; flex-direction: row; justify-content: space-between; flex-wrap: wrap; margin: 0 -26px;}
.sub-media__content li { padding: 0 25px; width: 33.333%; box-sizing: border-box;}
.sub-media__content li a { display: inline-block; margin: 0 0 50px; height: 460px; width: 100%; color: #333; box-sizing: border-box; }
.sub-media__content li a span { position: relative; display: inline-block; margin: 0 0 30px 0; padding-bottom: 56%; width: 100%; max-height: 247px; height: auto; border: 1px solid #eee; overflow: hidden;}
.sub-media__content li a span img { width: 100%; position: absolute; top: 50%; left: 0; transform: translateY(-50%);}
.sub-media__content li a b { transition: all .3s 0s; font-size: 20px; line-height: 30px; font-weight: 600;}
.sub-media__content li a:hover b { color: #007dc6;}
.sub-media__content li a p { transition: all .3s 0s; margin: 0 0 30px; padding: 21px 0 27px; border-bottom: 1px solid #e5e5e5; font-size: 16px; color: #777; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.sub-media__content li a:hover p { border-bottom-color: #007dc6;}
.sub-media__content li a i { padding: 0 0 0 24px; background: url(images/ico_clock2.png) no-repeat 0 center / auto; font-size: 14px; color: #858585; font-family: poppins;}
.sub-media__content li a strong { float: right; padding: 0 26px 0 0; background: url(images/ico_plus4.png) no-repeat right 3px center / auto; font-size: 16px; color: #222; font-weight: 600;}


