.header__lnb { display: none;}
.main section { padding-top: 70px;}
.main .main-visual,
.main .main-etc { padding-top: 0;}

/** 공통 - style **/
.main-title {  text-align: center;}
.main-title > h2 { padding-bottom: 36px; font-size: 36px; }
.main-title > h2 i { font-weight: 100;}
.main-title > h4 { padding: 0 0 20px; display: inline-block; font-size: 18px;}
.main-title > p { padding-bottom: 50px; font-size: 28px; line-height: 35px;}

.main-visual h2 { font-size: 28px;}
.main-visual h2 b { font-size: 30px;}

.main_business > div > p {line-height: 35px;}
.main_business > div > p > strong { display: block; }

.main_ir > div > ul { display: block;}
.main_ir > div > ul li { height: 220px;}
.main_ir > div > ul li~li { margin: 20px 0 0 0;}
.main_ir .article_ir .btn_detail { top: 60px;}


.main-pr__brochure-content { flex-direction: column; height: auto;}
.main-pr__brochure-content div:last-child p { margin: 20px 0 0; text-align: center;}
.main-pr__brochure-content div:last-child ul li button { max-width: 300px; width: 100%;}


.main_business ul li { width: 50%;}

.main_etc article { padding: 120px 0 0; height: 430px;}
.main_etc article span { bottom: 50px; flex-direction: column; align-items: center;}
.main_etc article .btn-more { margin: 10px 0 0; padding: 0 50px 0 30px; width: 230px; height: 50px; line-height: 50px; text-align: left; box-sizing: border-box;}


footer { margin: 100px 0 0;}
footer > div .footer_top .footer_nav { margin: 0 -4px; line-height: 1; font-size: 0;}
footer > div .footer_top .footer_nav li~li { padding: 4px;}
footer > div .footer_top .footer_nav li { padding: 4px; box-sizing: border-box;}
footer > div .footer_top .footer_nav li~li:before { background-color: transparent;}
footer > div .footer_top .footer_nav li a { display: inline-block; border: 1px solid #4e4e4e; width: 100%; height: 40px; line-height: 40px; box-sizing: border-box; text-align: center; font-size: 15px;}
footer > div .footer_top .footer_nav li:nth-child(1),
footer > div .footer_top .footer_nav li:nth-child(2) { width: 50%;}
footer > div .footer_top .footer_nav li:nth-child(3) { width: 100%;}


/** 투자정보_Contact **/
.contact_form form .table-row { display: inline-block; width: 100%; padding: 14px 0; line-height: normal;}
.contact_form form .table-th { padding: 0 0 10px 22px; border-right: none;}
.contact_form form .table-th,
.contact_form form .table-td { display: block;}
.contact_form form .table-td > div > div input,
.contact_form form .table-td > div > div select,
.contact_form form .table-td > div > div textarea { margin: 5px 0;}
.contact_form form .table-row.mail .empty { flex: 0; padding: 0;}
.contact_form form .table-row.content .table-td > div > div textarea { height: 200px;}

/** **/
.social > .social_list li { width: 100%;}
