body { position: relative; line-height: 1; color: #333;}
.main section { padding-bottom: 100px; box-sizing: border-box;}
.inner { padding: 0 20px; margin: 0 auto; max-width: 1460px; box-sizing: border-box; }


/** header **/
.header { transition: all .3s ease 0s; position: fixed; z-index: 300; width: 100%; height: 100px; border-bottom: 1px solid rgba(255, 255, 255, 0.2);}
.header__wrap { display: flex; justify-content: space-between; padding: 0 10px; width: 100%; height: 100%; text-align: center; box-sizing: border-box;}
.header__logo { display: inline-block; margin: 0 20px 0 10px; min-width: 130px; height: 100%; font-size: 0; }
.logo { background: url(images/logo.svg) no-repeat center / 100% auto; }

.main-gnb { width: 100%; box-sizing: border-box;}
.main-gnb .gnb__depth1 { display: flex; margin: 0 auto; max-width: 900px; height: 100%;}
.main-gnb .gnb__depth1 > .gnb__item { position: relative; width: 100%; }
.main-gnb .gnb__depth1 > .gnb__item > .gnb__link { position: absolute; z-index: 1; left: 0; top: 0; width: 100%; font-size: 18px; color: #fff; font-weight: 700; line-height: 100px;}
.main-gnb .gnb__depth2 { transition: all .3s 0s; position: absolute; left: 0; top: 0; padding: 120px 0 28px; width: 100%; background-color: rgb(0, 0, 0, 0.7); opacity: 0; pointer-events: none;}
.main-gnb .gnb__depth1 > .gnb__item:hover .gnb__depth2 { opacity: 1; pointer-events: all;}
.main-gnb .gnb__depth2 > .gnb__item > .gnb__link { transition: color .3s 0s; display: inline-block; width: 100%; line-height: 42px; color: rgba(255, 255, 255, 0.4);}
.main-gnb .gnb__depth2 > .gnb__item > .gnb__link:hover { color: rgba(255, 255, 255, 1);}
/** 메모

box의 hover효과 => 숨김처리된 circle이 나타난다.

마우스가 box를 벗어나면 circle이 사라진다.
예외) 마우스가 box를 벗어났지만 circle에 위치해 있으면(box와 circle이 접하거나 겹칠때) circle 안사라짐

 **/
.header__side { display: flex; align-items: center; z-index: 900;}
.header__lang { display: flex; font-size: 0; }
.header__lang__item { position: relative; }
.header__lang__item~.header__lang__item:before { position: absolute; content: ""; left: 0; top:50%; transform: translateY(-50%); width: 1px; height: 12px; background-color: rgba(255, 255, 255, 0.4);}
.header__lang__btn { transition: all .3s 0s; padding: 0 20px; height: 33px; font-size: 18px; color: rgba(255, 255, 255, 0.4); font-weight: 400; }
.header__lang__btn:hover { color: #fff;}
.header__lang__btn.active { position: relative; color: #fff; box-sizing: border-box; font-weight: 600;}
.header__lang__btn.active::before { position: absolute; content: ""; left: 50%; bottom: 0; transform: translateX(-50%); width: 22px; height: 100%; border-bottom: 2px solid #fff;}

.header__menu { position: relative; margin: 0 0 0 66px; width: 30px; height: 33px; background-color: transparent; font-size: 0;}
.header__menu::after { position: absolute; content: ""; right: 0; top: 6px; width: 30px; height: 2px; background-color: white;}
.header__menu::before { position: absolute; content: ""; right: 0; top: 24px; width: 30px; height: 2px; background-color: white;}
.header__menu__deco { transition: all .3s 0s; position: absolute; display: inline-block; right: 0; top: 15px; width: 20px; height: 2px; background-color: white;}
.header__menu:hover .header__menu__deco { width: 30px;}
.header__menu.active::before { content: "\e921"; top: 0; width: 100%; height: 100%; line-height: 33px; text-align: center; font-size: 30px; font-weight: 300; font-family: 'xeicon'; color: #fff; background-color: transparent;}
.header__menu.active::after,
.header__menu.active .header__menu__deco { display: none;}

.sub-gnb { display: none; position: absolute; z-index: 800; left: 0; top: 0; padding-top: 110px; width: 100%; height: 100vh; background-color: rgba(0, 0, 0, 0.8); box-sizing: border-box; }
.sub-gnb.active { display: inline-block;}
.sub-gnb li { width: 100%;}
.sub-gnb li a { display: block; text-align: left;}
.sub-gnb li a span,
.sub-gnb li a span::before { transition: all .3s 0s;}
.sub-gnb .gnb__depth1 { display: flex;}
.sub-gnb .gnb__depth1 > li { margin: 0 15px; box-sizing: border-box;}
.sub-gnb .gnb__depth1 > li > a { padding-bottom: 15px; border-bottom: 2px solid #fff;}
.sub-gnb .gnb__depth1 > li > a span { font-size: 20px; color: #888; font-weight: 600;}
.sub-gnb .gnb__depth1 > li:hover > a span { color: #fff;}
.btn-submenu { display: none;}
.sub-gnb .gnb__depth2 { padding-top: 15px;}
.sub-gnb .gnb__depth2 > li > a { height: 47px; line-height: 47px;}
.sub-gnb .gnb__depth2 > li > a span { font-size: 17px; color: #fff; font-weight: 500;}
.sub-gnb .gnb__depth2 > li > a span::before { position: absolute; content: ""; right: -10px; top: 0; width: 5px; height: 5px; background-color: #007dc6; opacity: 0;}
.sub-gnb .gnb__depth2 > li:hover > a span { position: relative; color: #007dc6;}
.sub-gnb .gnb__depth2 > li:hover > a span::before { opacity: 1;}
.sub-gnb .gnb__depth3 { padding-bottom: 10px;}
.sub-gnb .gnb__depth3 > li > a { height: 32px; line-height: 32px; }
.sub-gnb .gnb__depth3 > li > a span { position: relative; font-size: 16px; color: #888;}
.sub-gnb .gnb__depth3 > li > a span::before { position: absolute; content: ""; width: 100%; left: 0; bottom: -5px; border-bottom: 2px solid #fff; opacity: 0;}
.sub-gnb .gnb__depth3 > li > a:hover span { color: #fff;}
.sub-gnb .gnb__depth3 > li > a:hover span::before { opacity: 1;}



.quick_menu { z-index: 200; position: fixed; bottom: 20px; right: 10px; }
.quick_menu button { z-index: 999; position: fixed; bottom: 20px; right: 10px; padding: 30px 0 0; width: 70px; height: 70px; border-radius: 6px; font-size: 14px; background-color:#007dc6; color: #fff; font-weight: 600;}
.quick_menu button::before { position: absolute; content: "\e909"; left: 0; top: 0; padding: 16px 0 0; width: 100%; height: 100%; text-align: center; font-size: 19px; font-family: 'xeicon'; font-size: 19px; box-sizing: border-box;}


/** 공통 - style **/
    /** 테이블 스타일 **/
.table { display: table; }
.table-row { display: table-row; }
.table-cell { display: table-cell;}

.table-style__normal { border-top: 2px solid #222; font-size: 15px; text-align: center; box-sizing: border-box;}
.table-style__normal thead tr { height: 70px; border-bottom: 1px solid #222; color: #222; }
.table-style__normal tbody tr { height: 76px; border-bottom: 1px solid #e5e5e5; color: #555; }
.table-style__normal td { border-right: 1px solid #e5e5e5;}
.table-style__normal thead tr td:last-child,
.table-style__normal tbody tr td:last-child { border-right: none;}
    /** 텍스트 스타일 **/
.txt-style__gra { background: linear-gradient(to right, #007dc6 5%, #00a651); -webkit-background-clip: text; color: transparent; font-family: poppins; font-weight: 800;}
    /** 박스 스타일 **/
.box-style__detail { position: relative; width: 100%; height: 100%;}
.box-style__detail::after { position: absolute; content: "MORE DETAILS"; left: 0; top: 50%; transform: translateY(-50%); padding-top: 30px; width: 100%; height: auto; text-align: center; color: #fff; font-size: 14px; font-weight: 600; vertical-align: middle; box-sizing: border-box;}
.box-style__detail::before { position: absolute; content: "\e97a"; left: 0; top: 50%; transform: translateY(-50%); padding-bottom: 30px; width: 100%; height: auto; font-size: 23px; color: white; font-family: 'xeicon'; text-align: center;}

.btn-style__border { position: relative; transition: all .3s; display: inline-block; right: 0; top: 0; width: 40px; height: 40px; border: 1px solid rgba(255, 255, 255, 0.3); font-size: 0; color: #fff;}
.btn-style__border::before { position: absolute; right: 0; top: 50%; width: 100%; transform: translateY(-50%); font-family: 'xeicon'; color: #fff; text-align: center; font-size: 18px;}
.btn-style__border:hover { background-color: #007dc5; border-color: #007dc5;}
.icon__more::before { content: "\e913";}
.icon__download::before { content: "\eb7c";}

.date { padding: 0 0 0 20px; font-size: 14px;}
.date::before { position: absolute; content: "\ea2c"; left: 0; top: 0; font-family: 'xeicon'; font-size: 14px;}
    /** 레이아웃 스타일 **/
.flex { display: flex; margin-top: 110px;}
.flex__item:nth-child(1) { flex-shrink: 0; padding-right: 30px; width: 240px; box-sizing: border-box; }
.flex__item:nth-child(2) { width: 100%;}


/** footer **/

.footer { margin: 240px 0 0; padding: 60px 20px 70px 20px; background: #222222; font-size: 15px; color: #727272; line-height: 23px; font-weight: 500;}
.footer .inner { position: relative; padding: 0 0 0 220px;}
.footer .logo { position: absolute; left: 0; top: 0; width: 125px; height: 100%; background-position: center top 0;}
.footer__top { padding: 0 0 25px; border-bottom: 1px solid #4e4e4e;}
.footer__bottom { display: flex; justify-content: space-between; align-items: flex-end; padding: 22px 0 0;}
.footer__list__item { display: inline-block;}
.footer__list__item~.footer__list__item { position: relative; padding: 0 0 0 41px;}
.footer__list__item~.footer__list__item:before { position: absolute; content: ""; left: 20px; top:50%; transform: translateY(-50%);  width: 1px; height: 10px; background-color: #474747;}
.footer__list__link { color: #bcbcbc; width: 100%;}
.footer__bottom .foot__company .footer__list__item:nth-child(1) { color: #bcbcbc;}
.footer__bottom .footer__copyright { padding-top: 34px; color: #575757;}
.footer__bottom .footer__site { margin: 30px 0 0; width: 220px; height: 50px; border: 1px solid #313131; background-color: #1e1e1e; color: #7d7d7d; font-size: 15px; text-indent: 32px; vertical-align: bottom;}


/** txt **/
.main-title {  text-align: center;}
.main .heading-level-2 { padding-bottom: 70px; font-size: 68px; font-weight: 100;}
.main .heading-level-3 { padding-bottom: 70px; line-height: 45px; color: #fff; font-size: 31px; font-weight: 400;}
.main .heading-level-4 { padding: 0 0 20px; display: inline-block; font-size: 18px; }
.main .heading-level-5 { font-size: 24px; color: #fff;}
/* .main-title > p { padding-bottom: 70px; line-height: 45px; color: #fff; font-size: 31px;} */

.heading-level-2 { padding: 280px 0 27px; width: 100%; font-size: 44px; color: #fff; }



/** sub visual **/
.visual { position: relative; height: 550px;}
.visual__bg__img { object-fit: cover;}
.visual__title { position: absolute; left: 0; top:0; width: 100%; height: 100%; text-align: center; overflow: hidden;}
.visual__title__txt { font-size: 20px; color: #fff;}
/** snb **/
.snb { position: absolute; bottom: 0; left: 0; width: 100%; height: 65px; background-color: rgba(0, 0, 0, 0.5); font-size: 17px;}
.snb__list.depth1 { display: flex; margin: 0 auto; padding: 0 20px; max-width: 1380px; font-size: 0;}
.snb__list.depth1 > .snb__list__item { position: relative; width: 100%; max-width: 340px;}
.snb__list.depth1 > .snb__list__item:first-child { width: auto; max-width: none;}
.snb__list.depth1 > .snb__list__item~.snb__list__item:before { position: absolute; content: ""; left: 0; top: 50%; transform: translateY(-50%); height: 36px; width: 1px; background-color: rgba(255, 255, 255, 0.3);}

.snb__list.depth2 { display: none; z-index: 200; position: absolute; left: 0; top: 64px; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);}
.snb__list.depth1 > .snb__list__item.active .snb__list.depth2 { display: block;}
.snb__list.depth2 > .snb__list__item { height: 60px; border-top: 1px solid rgba(0, 0, 0, 0.6);}
.snb__list.depth2 > .snb__list__item.active  { background-color: rgba(0, 0, 0, 0.5);}
.snb__btn { position: relative; width: 100%; line-height: 65px; font-size: 17px; text-indent: 30px; color: #fff; appearance: none; -webkit-appearance: none; text-align: left;}
.snb__btn::before { position: absolute; content: "\e913"; right: 30px; top: 50%; transform: translateY(-50%); width: 22px; height: 22px; line-height: 22px; text-align: center; border-radius: 22px; font-size: 15px; font-weight: bold; font-family: 'xeicon'; background-color: #fff; color: #000; text-indent: 0;}
.snb__list.depth1 > .snb___list__item.active .snb__btn::before { content: "\e91a";}
.snb__link { transition: all .3s 0s; display: block; width: 340px; height: 60px; font-size: 15px; line-height: 60px; background-color: rgba(0, 0, 0, 0.7); color: #fff; text-indent: 30px; text-align: left;}
.snb__link:hover { background-color: rgba(0, 0, 0, 0.6); border:none;}
.snb__link-home { position: relative; display: inline-block; line-height: 65px; width: 65px; font-size: 0;}
.snb__link-home::before { position: absolute; content: "\e900"; width: 100%; font-family: 'xeicon'; color: #fff; font-size: 22px; text-align: center;}



/** sub-title**/
.sub-title { text-align: center; font-size: 0;}
.sub-title h3 { height: 228px; font-size: 36px; line-height: 228px;}
.sub-title .tab__title { display: flex; justify-content: center; margin-bottom: 60px; padding: 0 20px; box-sizing: border-box;}
.sub-title .tab__title__item { width: 100%; max-width: 230px;}
.sub-title .tab__title__item a { display: inline-block; width: 100%; height: 60px; line-height: 60px; border:1px solid #e5e5e5; font-size: 16px; color: #000; box-sizing: border-box; }
.sub-title .tab__title__item a:hover { color:#007dc6;}
.sub-title .tab__title__item.active a { background-color: #007dc6; color: #fff; border: none;}

/** sub-info**/
.sub-info { position: relative; height: 480px; text-align: center; overflow: hidden;}
.sub-info__img { height: 100%;}
.sub-info__content { position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 100%; }
.sub-info__content h4 { display: inline; font-size: 18px; font-family: poppins;}
.sub-info__content h5 { display: block; margin: 28px 0 12px; font-size: 30px; color: #fff; line-height: 37px;}
.sub-info__txt { padding: 0 20px; font-size: 17px; line-height: 25px; color: rgba(255, 255, 255, 0.5); box-sizing: border-box;}


/** 검색도구 **/
.search-wrap { margin: 80px 0 0; padding: 50px 20px; background-color: #f8f8f8; font-size: 0; text-align: center;}
.search-wrap .table { margin: 0 auto; width: 100%; max-width: 550px;}
.search-wrap .table-cell:first-child { width: 150px;}
.search-wrap .table-cell:last-child { position: relative; padding: 0 80px 0 5px; box-sizing: border-box;}
.search-wrap select, 
.search-wrap input { height: 50px; line-height: 50px; border: 1px solid #e5e5e5; background-color: #fff; font-size: 15px; text-indent: 20px; color: #bbb; vertical-align: top;}
.search-wrap input::placeholder{ color: #bbb;}
.search-wrap select { position: relative; width: 100%; appearance: none; -webkit-appearance: none; background: url(images/ico_select_arrow.png) no-repeat right 11px center / auto #fff;}
.search-wrap select::-ms-expand { display: none;}
.search-wrap input { width: 100%; color: #333;}
.search-wrap button { position: absolute; right: 0; top: 0; width: 80px; height: 50px; background-color: #333333; color: #fff; font-size: 15px;}
