/* 공통 - header */
@media (min-width: 0px) and (max-width:1029px){
    header nav { display: none;}
}
header { height: 80px;}
header > div h1 { height: 80px; line-height: 75px;}
header nav > ul > li > a { font-size: 16px; line-height: 80px;}
header .header_right { height: 80px; }

/* 공통 - footer */
footer { padding: 20px 20px 70px 20px;}
footer > div { padding: 0; background: none;}
footer > div .footer_info li:nth-child(1) { display: block;}
footer > div .footer_info li:nth-child(2) { padding: 0;}


/** style **/
.contents article { padding: 0;}
.contents article > h4 { position: static; padding: 0 0 30px;}
.contents article > h4 b { display: inline;}
.contents .transport > ul > li { width: calc(50% - 15px);}


/** 메인화면 **/

.section_business > div > p { font-size: 30px;}
.section_business > div h2 { font-size: 54px;}
.section_business ul { flex-wrap: wrap; }
.section_business ul li { width: 33.333%;}
.section_business ul li a div {max-height: 350px;}

.section_ir > div .title p { font-size: 30px;}
.section_ir > div .title { position: static; text-align: center;}
.section_ir > div > ul { padding: 55px 0 58px 0 ;}
.section_ir > div > ul li { width: 100%; min-width: auto; max-width: auto; height: 250px; justify-content:center; max-width: none; min-width: none;}
.section_ir > div > ul li a div { padding: 35px 30px;}
.section_ir > div > ul li:nth-child(1) a div,
.section_ir > div > ul li:nth-child(2) a div { background-size: 100% auto;}


.section_esg div > p { font-size: 30px;}
.section_esg ul { flex-direction: column; max-width: 700px; margin: 0 auto; padding: 0;}
.section_esg ul li { animation: none; height: 290px; max-width: 560px; margin: 0 auto;}
.section_esg ul li~li { position: relative; border-top: 1px solid rgba(255, 255, 255, 0.2); border-left: none;}
.section_esg ul li~li::before { position: absolute; content: ""; top: -2px; left: calc( 50% - 6px ); width: 3px; height: 3px; background-color: #007dc6;}
.section_esg ul li~li::after { position: absolute; content: ""; top: -2px; left: calc( 50% + 3px ); width: 3px; height: 3px; background-color: #00a651;}
.section_esg ul li a { opacity: 1; }
.section_esg ul li:hover { animation: none;}


.section_pr > div > p { font-size: 30px;}
.section_pr > div > .flex { display: block;}
.section_pr > div > .flex > div { width: 100%;}
.section_pr > div > .flex > div~div { margin: 65px 0 0;}
@media (min-width: 0px) and (max-width:768px){
    .section_pr > div .article_sns .content .main a { padding: 0 0 0 30px;}
    .section_pr > div .article_sns .content .main a span { display: none;}
}
.section_pr > div .article_sns .content .main a i { left: 30px;}
.section_pr > div .article_brochure > span p i { display: inline;}
.section_pr > div .article_brochure > span ul li button { width: 300px; }

.section_etc article { width: 100%;}


/** sub 공통 **/
@media (min-width: 0px) and (max-width:1029px){
    .sub_visual nav > ul > li { max-width: none;}
    .sub_visual nav > ul > li:nth-child(4) { display: none;}
}


/** 투자정보_News **/
.news_list li a { padding: 0 0 0 130px;}
.news_list li a strong { left: 40px;}
.news_list li a strong i { font-size: 40px;}
.news_list li a b { font-size: 18px;}
@media (min-width: 0px) and (max-width:768px){
.news_list li a { padding: 30px 20px; line-height: normal;}
.news_list li a strong { display: block; position: static; padding: 25px 0 0; font-weight: 500; font-size: 15px; text-align: left;}
.news_list li a strong i { font-size: 0;}
.news_list li a::after { top: auto; right: 20px; bottom: 20px; transform: none;}
}


/** 투자정보_Contact **/

@media (min-width: 0px) and (max-width:1029px){
.contact article > div { padding: 20px; text-align: center;}
.contact article > div b { position: static; display: inline-block; padding: 0 0 0 70px; width: auto; transform: none; height: 60px; line-height: 60px; text-align: left; background-position: left 0 center; border: none;}
.contact article > div b strong { display: inline-block;}
.contact article > div > div { padding: 20px 0 0; display: block;}


.contact_form form table tr th { width: auto; max-width: 250px; min-width: 140px;}
.contact_form form table tr td > div { max-width: none;}
.contact_form form table .mail select { width: 100%;}
}
