@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body { line-height: 1;}
.overflow-hidden { overflow: hidden;}

/** 공통 스타일 **/
h2 { padding-bottom: 30px; font-size: 30px; color: #0c1a3c;}
.btn-more { padding: 0 17px 0 0; line-height: 17px; color: #000; font-size: 17px; background: url(../images/bu_arrow_right2.png) no-repeat right top 4px;}


/** 메인화면 **/
    /** section - main**/
        /** visual **/
.sec-main .visual { background: linear-gradient(to right, #5d11db, #6e01c9);}
.sec-main .visual ul { position: relative;}
.sec-main .visual ul li { height: 435px; box-sizing: border-box;}
.sec-main .visual ul li .visual__bg { width: 100%; height: 100%;}
.sec-main .visual ul li div { position: absolute; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%);}
.sec-main .visual ul li div b { display: block; text-align: left; font-size: 47px; color: #fff;}
.sec-main .visual ul li div strong { display: block; margin: 20px 0 0; text-align: left; font-size: 15px; color: #fff;}
.slide-swiper__type1 .swiper-pagination { left: 50%; bottom: 105px; transform: translateX(-50%); padding: 0 20px; width: 1240px; text-align: left; box-sizing: border-box;}
.slide-swiper__type1 .swiper-pagination-bullet { width: 6px; height: 6px; border-radius: 0; background-color: #fff; }
.slide-swiper__type1 .swiper-pagination-bullet-active { width: 12px;}
        /** 메인메뉴 **/
.main-menu { background: linear-gradient(to right, #3d0eaf, #4a00a1);}
.main-menu .inner { height: 120px; font-size: 0;}
.main-menu .title { display: inline-block; padding: 30px 0; width: 170px; height: 100%; box-sizing: border-box; vertical-align: top;}
.main-menu .title h2 { font-size: 28px; color: white;}
.main-menu .title b { display: inline-block; margin-bottom: 15px; font-size: 14px; color: #77eaff;}
.main-menu .menu-box { position: relative; display: inline-block; padding: 0 55px; width: calc(100% - 170px); box-sizing: border-box;}
.main-menu .menu-box ul li a { display: inline-block; padding-top: 75px; width: 152px; height: 120px; color: #fff; text-align: center; font-size: 15px; box-sizing: border-box; background: url(../images/btn_start_menu.png) no-repeat center top 20px;}
.main-menu .menu-box ul li:nth-child(1) a { background-image: url(../images/menu_1.png) ;}
.main-menu .menu-box ul li:nth-child(2) a { background-image: url(../images/menu_2.png) ;}
.main-menu .menu-box ul li:nth-child(3) a { background-image: url(../images/menu_3.png) ;}
.main-menu .menu-box ul li:nth-child(4) a { background-image: url(../images/menu_4.png) ;}
.main-menu .menu-box ul li:nth-child(5) a { background-image: url(../images/menu_5.png) ;}
.main-menu .menu-box ul li:nth-child(6) a { background-image: url(../images/menu_6.png) ;}
.main-menu .menu-box ul li:nth-child(7) a { background-image: url(../images/menu_1.png) ;}
.main-menu .menu-box ul li:nth-child(8) a { background-image: url(../images/menu_2.png) ;}
.main-menu .btn-next__type2,
.main-menu .btn-prev__type2 { top: 0; margin: 0; height: 100%; width: 55px;}
.main-menu .btn-next__type2 { right: 0;}
.main-menu .btn-prev__type2 { left: 0;}
.main-menu .btn-prev__type2::after { content: "\e93d"; color: #fff; font-family: 'xeicon'; font-size: 40px;}
.main-menu .btn-next__type2:after { content: "\e940"; color: #fff; font-family: 'xeicon'; font-size: 40px;}
    /** 공지사항 **/
.notice { height: 88px; background-color: white;}
.notice .inner { height: 100%; font-size: 0; line-height: 1;}
.notice .inner h2 { display: inline-block; padding: 0; width: 170px; font-size: 18px; color: #0c1a3c; line-height: 88px; background: url(../images/bu_arrow_right.png) no-repeat left 85px center;}
.notice .inner .wrap { position: relative; display: inline-block; width: calc(100% - 170px); height: 100%; vertical-align: top;}
.notice .inner .wrap .slide { height: 100%; margin-right: 15px;}
.notice a { display: inline-block; width: 100%; }
.notice a p { display: inline-block; line-height: 88px; font-size: 19px; font-weight: 400; color: #000; text-indent: 10px;}
.notice a span { position: absolute; right:90px; top:0; text-align: right; font-size: 16px; color: #666666; font-weight: 400;}
.btn-group { position: absolute; right: 20px; top: 50%; width: 15px; height: 100%; transform: translateY(-50%); }
.btn-next__type3,
.btn-prev__type3 { margin: 0; height: 16px; left: 50%; transform: translateX(-50%);}
.btn-next__type3 { top: calc(50% + 10px); transform: translateY(-50%);}
.btn-prev__type3 { top: calc(50% - 10px); transform: translateY(-50%);}
.btn-prev__type3::after { content: "\e93d"; transform: rotate(90deg); color: #333; font-family: 'xeicon'; font-size: 15px;}
.btn-next__type3:after { content: "\e940"; transform: rotate(90deg); color: #333; font-family: 'xeicon'; font-size: 15px;}
    /** section - 리서치**/
.sec-research { padding-top: 85px; padding-bottom: 80px; background-color: #ecf1f5; }
.sec-research .inner { position: relative;}
.sec-research ul { display: flex; flex-direction: row; justify-content:space-between; }
.sec-research ul li~li { margin-left: 10px;}
.sec-research ul li a { display: inline-block; padding: 0 55px 0 30px; max-width: 288px; height: 330px; background-color: white; border: 1px solid #fff; box-sizing: border-box;}
.sec-research ul li a:hover { border: 1px solid #067fd9; box-shadow: 0 0 13px rgba(0, 0, 0, 0.11); box-sizing: border-box;}
.sec-research ul li p { padding: 43px 0 20px 0; color: #067fd9; font-size: 15px; font-weight: 500;}
.sec-research ul li b { font-size: 23px; line-height: 33px; color: #010101;}
.sec-research ul li div { margin: 44px 0 27px; line-height: 17px; color: #010101; font-size: 14px;}
.sec-research ul li div span { position: relative; padding: 0 0 0 15px;}
.sec-research ul li div span:before { position: absolute; content: ""; top:3px; left: 7px; height: 17px; border-left:1px solid #e4e8eb;}
.sec-research ul li strong { display: inline-block; margin: 0 0 0 5px; padding: 0 9px; border:1px solid #e65338; line-height: 24px; color: #e65338; font-size: 11px;}
.sec-research .btn-more { position: absolute; top: 15px; right: 27px; }
    /** section - 뉴스 **/
.sec-news { padding: 85px 0 80px;}
.sec-news .inner { display: flex; flex-direction: row; justify-content:space-between;}
.sec-news article { position: relative; width: calc(50% - 12px);}
.sec-news article .btn-more { position: absolute; top: 15px; right: 7px; }
        /** 실시간 뉴스 **/
.sec-news__today ul { display: flex; flex-direction: row; justify-content: space-between;}
.sec-news__today ul li a { position: relative; display: inline-block; margin: 0 15px 0 0; padding: 90px 55px 0 30px; width: 288px; height: 330px; background-color: white; border: 1px solid #e4e8eb; box-sizing: border-box; background: url(../images/ico_quote.png) no-repeat top 60px left 30px;}
.sec-news__today ul li a:hover { border: 1px solid #067fd9; box-shadow: 0 0 13px rgba(0, 0, 0, 0.11); box-sizing: border-box;}
.sec-news__today ul li p { font-size: 23px; line-height: 33px; color: #000 ;}
.sec-news__today ul li div { position: absolute; bottom: 40px; left: 30px; height: 40px; line-height: 40px;}
.sec-news__today ul li div b { margin: 0 12px 0 18px; font-size: 16px; color: #067fd9;}
.sec-news__today ul li div strong { font-size: 14px; color: #696969; font-weight: 400;}
        /** 해외 스팟 뉴스 **/
.sec-news__overseas ul { border-top:1px solid #0c1a3c; }
.sec-news__overseas ul li a { position: relative; display: inline-block; padding: 0 50px 0 205px; width: 100%; height: 163px; border-bottom: 1px solid #e4e8eb; box-sizing: border-box;}
.sec-news__overseas ul li img { position: absolute; left: 24px; top:50%; transform: translateY(-50%); width: 153px; height: 114px; }
.sec-news__overseas ul li p { position: relative; display: inline-block; margin: 35px 0 0 0; line-height: 30px; font-size: 19px; color: #000; }
.sec-news__overseas ul li p span { position: absolute; top: 70px; left: 0; font-size: 14px; color: #696969;}
    /** section - 마지막 **/
.banner-ad { width: 100%; height: 180px; background-color: #f4f4f4; text-align: center;}
.banner-main {  background:linear-gradient(to right, #f5f7f8 0%, #f5f7f8 50%, #e4f2f9 50%, #e4f2f9 100%);}
.banner-main .inner { display: flex; }
.banner-main a { display: inline-block; padding: 35px; width: 100%; height: 120px; background-repeat: no-repeat; background-position: right 55px center; box-sizing: border-box;}
.banner-main a:nth-child(1) { background-image: url(../images/ico_ad_btm1.png);}
.banner-main a:nth-child(2) { background-image: url(../images/ico_ad_btm2.png);}
.banner-main b { display: inline-block; margin: 0 0 16px ; padding: 0 16px 0 0; font-size: 19px; color: #081b50; font-weight: 600; background: url(../images/bu_arrow_right2.png) no-repeat top 50% right 0;}
.banner-main p { font-size: 17px; font-weight: 400; color: #081b50;}



/* sub 공통 영역 */
    /* 푸터 */
.sub-header { position: relative; border-bottom: 1px solid #dadada;}
.sub-main { position: relative; }
    /* 타이틀 영역 */
.sub-main > .title-box { position: absolute; top: 0; left: 0; width: 100%; box-shadow: 0 4px 13px rgba(4,0,0,0.18); background-color: #fff;}
.sub-main > .title-box > .inner { position: relative; height: 172px;}
.sub-main > .title-box nav { position: absolute; left: 20px; top: 23px;}
.sub-main > .title-box nav ul li { display: inline-block;}
.sub-main > .title-box nav ul li~li { padding: 0 0 0 27px; background: url(../images/bu_arrow_right3.png) no-repeat left 13px center;}
.sub-main > .title-box nav ul li a { font-size: 11px; line-height: 20px; color: #000; }
.sub-main > .title-box h2 { padding-top: 70px; text-align: center;}
.sub-main > .title-box .tab-menu { position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); width: 100%; height: 47px; text-align: center;}
.sub-main > .title-box .tab-menu ul li { display: inline-block;}
.sub-main > .title-box .tab-menu ul li button { position: relative; margin: 0 18px; width: 90px; height: 47px; font-size: 18px;}
.sub-main > .title-box .tab-menu ul li.active button { font-weight: bold;}
.sub-main > .title-box .tab-menu ul li.active button::before { position: absolute; content: ""; left: 0; bottom: 0; width: 100%; border-bottom: 2px solid #000;}
.sub-main > .title-box .tab-menu b { position: absolute; top:50%; left: 20px; transform: translateY(-50%);}
    /* 콘텐츠 영역 */
.content-box { padding-top: 172px; width: 100%; box-sizing: border-box;}
.content-box > .inner { padding-top: 40px; padding-bottom: 40px; text-align: center;}
    /* 폼 영역 */
.form-box { display: inline-block; padding: 52px 42px 45px; width: 100%; max-width: 640px; background-color: #fff; box-sizing: border-box;}
.form-box .btn-style__default { margin: 45px 0 0;}



/** sub.html **/
    /* 검색창 */
.content-box .search-bar { padding: 46px 0; width: 100%; height: 128px; background-color:#067fd9; box-sizing: border-box;}
.content-box .search-bar > div { margin: 0 auto; max-width: 630px; }
.content-box .search-bar input { float: left; width: calc(100% - 45px); height: 35px; background-color: transparent; color: #fff; font-size: 17px; text-indent: 10px;}
.content-box .search-bar input::placeholder { color: #fff; font-size: 17px;}
.content-box .search-bar .btn_search { float: right; width: 35px; height: 35px; background: url(../images/ico_search.png) no-repeat center / 23px auto;}
    /* 콘텐츠 탭 메뉴 */
.content-box .tab-menu { margin: 50px 0 85px; font-size: 0;}
.content-box .tab-menu li { display: inline-block; margin: 0 0 0 -1px;}
.content-box .tab-menu button { width: 183px; height: 48px; border: 1px solid #e4e8eb; background-color: #fafafa; font-size: 15px;}
.content-box .tab-menu li.active button { position: relative; z-index: 100; border:1px solid #000; background-color: #fff;}
    /* 검색 리스트 */
.result-list { position: relative; padding: 45px 0 0; margin: 0 auto; max-width: 996px;}
.result-list .wrap-top { margin-bottom: 30px;}
.result-list .wrap-top p { float: left;}
.result-list .wrap-top span { float: right;}
.result-list .wrap-top span button { padding-left: 20px; background-repeat: no-repeat; background-position: left top; line-height: 15px;}
.result-list .wrap-top span button.btn-view-list { background-image: url(../images/ico_list.png);}
.result-list .wrap-top span button.btn-view-card { background-image: url(../images/ico_card.png);}
.result-list .wrap-top span button~button { position: relative; margin: 0 0 0 15px;}
.result-list .wrap-top span button~button::before { position: absolute; content: ""; left: -11px; top:0; width: 1px; height: 15px; background-color: #e4e8eb;}
.result-list table { border-top: 2px solid #000;}
.result-list table tr { height: 81px; border-bottom: 1px solid #e4e8eb;}
.result-list table tr:hover { background-color: #f2f2f2;}
.result-list table .doc { width: 86px; }
.result-list table .doc span { display: inline-block; padding: 0 9px; line-height: 24px; border:1px solid #e65338; color: #e65338; font-size: 11px; font-weight: 500;}
.result-list table .title { text-align: left;}
.result-list table .title a { color: #000;}
.result-list table .title p { margin-bottom: 13px; font-size: 17px;}
.result-list table .title p img { margin-left: 7px;}
.result-list table .title i { font-size: 13px; line-height: 17px; vertical-align: top;}
.result-list table .title ul { display: inline-block;}
.result-list table .title ul li { display: inline-block;}
.result-list table .title ul li a { font-size: 13px; line-height: 17px; color: #0041b2 ; vertical-align: top;}
.result-list table .date { width: 115px; font-size: 13px;}
.result-list .btn-more { padding-right: 23px; margin: 47px 0 65px; font-size: 15px; background: url(../images/bu_arrow_down.png) no-repeat right 0 top 50%;}


/* login.html */
.content-box.login { background-color: #f4f4f4;}
.login__form input[type="text"],
.login__form input[type="password"] { margin: 12px 0 ; padding: 0 13px; height: 48px; width: 100%; border:1px solid #e4e8eb; color: #000; font-size: 15px; box-sizing: border-box;}
.login__form { text-align: left;}
.login__form div { margin-top: 3px; height: 20px; box-sizing: border-box; font-size: 0;}
.login__form div label { line-height: 20px; font-size: 15px;}
.login__form input::placeholder {color: #000;}
.form_forget { margin: 42px 0 0; text-align: center;}
.form_forget li { display: inline-block;}
.form_forget li a { font-weight: 600; color: #000; font-size: 13px;}
.form_forget li~li { position: relative; padding: 0 0 0 28px;}
.form_forget li~li a:before { position: absolute; content: ""; left: 14px; top:5px; width: 1px; height: 12px; background-color: #dededf; }
    /** 유의사항 **/
.info { padding: 10px 0 65px; width: 100%; background-color: #fff; box-sizing: border-box;}
.info .title-bar { height: 55px; width: 100%; border-bottom: 1px solid #e4e8eb; box-sizing: border-box;}
.info .title-bar b { padding: 0 0 0 28px; background: url(../images/ico_info.png) no-repeat left 4px top 50%; line-height: 55px; text-align: left;}
.info .title-bar .btn-control { float: right; width: 55px; height: 55px; background: url(../images/bu_arrow_up.png) no-repeat center / 14px auto; transform: rotate(-180deg);}
.info .title-bar .btn-control.on { transform: none; }
.info ul { display: none; padding: 20px; text-align: left;}
.info ul.active { display: block;}
.info ul li { position: relative; font-size: 15px; line-height: 24px;}
.info ul li strong { display: block; padding: 0 0 0 8px; font-weight: 400;}
.info ul li strong::before { position: absolute; content: ""; width: 3px; height: 3px; top:11px; left: 0px; background-color: #000;}
.info ul li~li { margin-top: 25px;}

/** join-agree.html **/
.content-box.agree { background-color: #f4f4f4;}
.agree__form .check-term { margin: 12px 0; width: 100%; box-sizing: border-box;}
.agree__form .check-term input { position: absolute; left: -5000px;}
.agree__form .check-term label { padding-left: 34px;}
.agree__form .check-term__main { padding: 20px; height: 68px; box-sizing: border-box;}
.agree__form .check-term__main label { float: left; display: inline-block; background: url(../images/ico_check_on.png) no-repeat left center; line-height: 25px; font-size: 15px; font-weight: 600;}
.agree__form .check-term__main input:checked + label { background-image: url(../images/ico_check_off.png) ;}
.agree__form .check-term__main > a { float: right; display: inline-block; width: 25px; height: 25px; background: url(../images/bu_arrow_right4.png) no-repeat center / 7px auto; font-size: 0;}
.agree__form .check-term__sub { position: relative; padding: 20px; border-top:1px solid #e4e8eb; text-align: left;}
.agree__form .check-term__sub > div { text-align: left; line-height: 36px;}
.agree__form .check-term__sub > div label { font-size: 13px; font-weight: 400; background: url(../images/ico_check2_on.png) no-repeat left 5px top 50%;}
.agree__form .check-term__sub > div input:checked + label { background: url(../images/ico_check2_off.png) no-repeat left 5px top 50%;}
.agree__form .check-term__sub > div a { float: right; color: #02a2e8; font-size: 13px; font-weight: 600; text-decoration: underline;}
.agree__form .check-term__sub > span~span { padding-left: 24px;}
.agree__form .check-term__sub > span label { line-height: 20px;  font-size: 13px; font-weight: 400;}
.agree .btn-style__default { width: 142px;}

/** join-form.html **/
.content-box.join { background-color: #f4f4f4;}
.join__form { text-align: left;}
.join__form th { width: 140px; vertical-align: top; font-size: 15px; font-weight: 400; color: #00003f; text-align: left;}
.join__form th label { line-height: 48px;}
.join__form th label.import:after { display: inline-block; content: "*"; margin-left: 5px; transform: translateY(9px); color: #f97017; font-size: 25px;}
.join__form tr~tr th,
.join__form tr~tr td { padding: 40px 0 0;}
.join__form td { font-size: 0;}
.join__form select { appearance: none; -webkit-appearance: none; background: url(../images/ico_arrow_down.png) no-repeat right 14px center / 20px auto #fff;}
.join__form select::-ms-expand { display: none;}
.join__form td select,
.join__form td input { padding: 0 0 0 15px; height: 48px; width: 100%; border: 1px solid #e4e8eb; line-height: 48px; vertical-align: top; box-sizing: border-box; }
.join__form td input:disabled { border: 1px solid #e4e8eb; background-color: #f7f9fa;}
.join__form td > div { position: relative; padding: 0 94px 0 0 ; }
.join__form td > div button { position: absolute; right: 0; top: 0; margin: 0; width: 86px; height: 48px; border: 1px solid #081b50; font-size: 15px; font-weight: 400; color: #00003f; background-color: #fff;}
.join__form td p { margin: 2px 0 0; font-size: 14px; color: #747474; line-height: 28px; letter-spacing: -1.005px;}
.join__form .address td > input { margin: 12px 0 0;}
.join__form .phone input,
.join__form .cellphone input,
.join__form .cellphone select { width: 120px;}
.join__form i { display: inline-block; width: 25px; line-height: 48px; font-size: 15px; text-align: center;}
.join__form .email select,
.join__form .email input { width: 194px;}
.join .btn-style__default { width: 142px;}
.join .btn-before { margin-right: 20px; background-color:#081b50;}