.align_justify div:first-child {float:left;}
.align_justify div:last-child {float: right;}

body,
body a { color: #1b1c1e;}

/** scrollbar 없애기 **/
.scroll_row::-webkit-scrollbar { display: none; } /* Chrome, Safari, Opera*/
.scroll_row {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.scroll_row li { display: inline-block; vertical-align: top;}


/** 가로 스크롤 **/
.scroll_row { width: 100%; white-space: nowrap; overflow: scroll;}


/** nav **/
.nav_fix { position: fixed; bottom: 0; left: 0; padding: 0 0.55rem; width: 100%; height: 52.5px; background: linear-gradient( to bottom , #fff 5% , #f4f4f4, #f4f4f4); box-sizing: border-box;}
.nav_fix ul { display: flex; justify-content: space-between; align-items: center; height: 100%;}
.nav_fix ul li { font-size: 0.425rem; color: #9c9c9c;}
.nav_fix ul li a { display: inline-block; padding: 30px 0 0; width: 40px; text-align: center; color: #949693; background-repeat: no-repeat; background-position: center 0 ; background-size: 30px auto; box-sizing: border-box;}
.nav_fix ul li a.selected  { color: #1fae73;}
.nav_fix ul li.btn_home a { background-image: url(../images/ico_home.png);}
.nav_fix ul li.btn_home a.selected { background-image: url(../images/ico_home_selected.png);}
.nav_fix ul li.btn_pay a { background-image: url(../images/ico_pay.png);}
.nav_fix ul li.btn_pay a.selected { background-image: url(../images/ico_pay_selected.png);}
.nav_fix ul li.btn_order a { background-image: url(../images/ico_order.png);}
.nav_fix ul li.btn_order a.selected { background-image: url(../images/ico_order_selected.png);}
.nav_fix ul li.btn_gift a { background-image: url(../images/ico_gift.png);}
.nav_fix ul li.btn_gift a.selected { background-image: url(../images/ico_gift_selected.png);}
.nav_fix ul li.btn_other a { background-image: url(../images/ico_other.png);}
.nav_fix ul li.btn_other a.selected { background-image: url(../images/ico_other_selected.png);}




/** view_style **/
.view_style { width: 100%; padding: 0 0.7rem; font-size: 0.65rem; line-height: 1rem; box-sizing: border-box;}
.view_style li { width: 114px; font-size: 0.65rem; line-height: 1rem;}
.view_style li~li{ margin: 0 0 0 0.7rem;}
.view_style li em { display: block; margin: 0.35rem 0 0 ; width: 114px; white-space: normal; text-align: center;}
.view_style li span { display: inline-block; width: 114px; height: 114px; border-radius: 114px; border-radius: 100%;}
.view_style li span img { width: 100%;}


